<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible"
            content="ie=edge">
    <title>SUPLA Cloud API</title>
    <script src="//unpkg.com/swagger-ui-dist@3/swagger-ui-bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jqlite@0.2.42/jqlite.min.js"></script>
    <link rel="stylesheet"
            href="//unpkg.com/swagger-ui-dist@3/swagger-ui.css">
    <style>
        .alert-instructions {
            max-width: 1200px;
            margin: 0 auto !important;
            padding: 10px;
        }
    </style>
</head>
<body>

<div style="display: none"
        id="instructions">
    <a style="float: right; cursor: pointer"
            class="close">[x]</a>
    <p>This is an interactive API docs for SUPLA Cloud. There are three ways you can use the
        <code>Try it out</code> buttons below to test the endpoints with your account.</p>
    <ul>
        <li>
            You can reuse the token that has been issued for accessing the web application here by clicking the
            <code>Authorize with your webapp token</code> button below.
            <span class="noauth"
                    style="display: none">If you don't see this button, it means that you are not authenticated in SUPLA Cloud.
                <a href="{{ supla_url }}/login"
                        target="_blank">Authenticate</a>, and then refresh this page.
            </span>
        </li>
        <li>
            Generate <a href="{{ supla_url }}/security/personal-access-tokens">a personal access token</a> and use it as
            <code>BearerAuth</code> after clicking <code>Authorize</code>.
        </li>
        <li>
            Create a private
            <a href="{{ supla_url }}/integrations/apps">OAuth application</a> that will enable you to access your account. Use
            <code>{{ supla_url }}/api-docs/oauth2-redirect.html</code>
            as the redirect URI.
        </li>
    </ul>
    <p>When you try to integrate your code with the SUPLA API, you should issue a personal access token or follow the OAuth2 flow. Rear more at
        <a href="https://github.com/SUPLA/supla-cloud/wiki/Integrations">GitHub Wiki</a>.</p>
    <p style="font-weight: bold;">Beware, that all modifying requests you do here CHANGE the state of your account.</p>
</div>

<div id="api"></div>

<script>
    var ui = SwaggerUIBundle({
        dom_id: '#api',
        url: '{{ supla_url }}/api-docs/supla-api-docs{{ yaml_suffix }}.yaml',
        displayRequestDuration: true,
        tagsSorter: 'alpha',
        oauth2RedirectUrl: '{{ supla_url }}/api-docs/oauth2-redirect.html',
        onComplete: function () {
            var alert = $('<div class="opblock opblock-options alert-instructions"></div>');
            alert.html($('#instructions').html());
            $(".scheme-container").before(alert);
            $(".close").click(function () {
                alert.remove();
            });
            if (localStorage && localStorage.getItem('_token')) {
                var btn = $('<button class="btn authorize"><span>Authorize with your webapp token</span><svg width="20" height="20"><use href="#unlocked" xlink:href="#unlocked"></use></svg></button>');
                btn.click(function () {
                    ui.preauthorizeApiKey("BearerAuth", localStorage.getItem('_token'));
                    btn.remove();
                });
                $(".auth-wrapper").prepend(btn);
            } else {
                $(".noauth").show();
            }
        }
    });
</script>
</body>
</html>
