{% extends 'SuplaBundle::layout.html.twig' %}
{% block content %}
<div class="container margin-top-50 ">


<h1 class="big animated">{% trans %}Start Here{% endtrans %}</h1>
<p class="intro animated">{% trans %}Podłączenie Twojego domu lub biura do SUPLI jest proste. Wszystko co musisz zrobić to <br>przepisać do swoich urządzeń sterujących (wejścia/wyjścia) oraz smartfonów poniższe dane.{% endtrans %}</p>
<div class="row instruction">
<div class="col-xs-6 step">
	<div class="step">
		<h2>supla-dev</h2>
		<p>Poniższe dane wprowadź w ustawieniech Twojego urządzenia sterującego (urządzenie we/wy)</p>
		<input type="text" id="password" value="{{ base_server }}" readonly>
		<label for="password" class="password">{% trans %}Server address{% endtrans %}</label>
		<input type="text" id="server_address" value="{{ base_locid }}" readonly>
		<label for="server_address">{% trans %}Location Identifier{% endtrans %}</label>
		<input type="text" id="access_identifier" value="{{ base_locpwd }}" readonly>
		<label for="access_identifier">{% trans %}Password{% endtrans %}</label>
	</div>
</div>
<div class="col-xs-6">
	<div class="step">
	<h2>supla-client</h2>
	<p>Poniższe dane wprowadź w aplikacji mobilnej SUPLA zainstalowanej w Twoim smartfonie</p>
		<input type="text" id="server_address" value="{{ base_server }}" readonly>
		<label for="server_address">{% trans %}Server address{% endtrans %}</label>
		<input type="text" id="access_identifier" value="{{ base_accessid }}" readonly>
		<label for="access_identifier">{% trans %}Access Identifier{% endtrans %}</label>
		<input type="text" id="password" value="{{ base_accesspwd }}" readonly>
		<label for="password" class="password">{% trans %}Password{% endtrans %}</label>
	</div>
</div>
</div>


<script type='text/javascript'>
  $(document).ready(function() {
  
	  $('[data-toggle="btns"] .btn').on('click', function(){
		  var $this = $(this);
		  $this.parent().find('.active').removeClass('active');
		  $this.addClass('active');
	  });
	  
	  if ( $('#cft').hasClass( 'cft' ) ) {
	      setTimeout(
		      function() {
		      		$('#cft').removeClass( 'cft' )  
		      }, 
		  5500);
	  };
	  

  });        
</script>

{% endblock %}