{% extends 'SuplaBundle::mobile-first-layout.html.twig' %}
{% block content %}
    <div class="container start-here">
        <h1>{% trans %}Start Here{% endtrans %}</h1>
        <p>
            {#@formatter:off#}
            {% trans %}Having your house or the office connected to SUPLA is very easy.<br>All you need to do is to rewrite on your control devices (In/Out) and smartphones the following data.{% endtrans %}
            {#@formatter:on#}
        </p>
        <div class="row">
            <div class="col-md-6 step">
                <div class="roof">
                    <img src="/assets/img/step-1.svg"
                            alt="">
                </div>
                <div class="basement">
                    <h2>supla-dev</h2>
                    <p>{% trans %}Enter the data below in the settings of your control device (I/O Device).{% endtrans %}</p>
                    <input type="text"
                            id="password"
                            value="{{ base_server }}"
                            readonly>
                    <label for="password"
                            class="password">{% trans %}Server address{% endtrans %}</label>
                    <input type="text"
                            id="server_address"
                            value="{{ base_locid }}"
                            readonly>
                    <label for="server_address">{% trans %}Location Identifier{% endtrans %}</label>
                    <input type="text"
                            id="access_identifier"
                            value="{{ base_locpwd }}"
                            readonly>
                    <label for="access_identifier">{% trans %}Password{% endtrans %}</label>
                </div>
            </div>
            <div class="col-md-6 step">
                <div class="roof">
                    <img src="/assets/img/step-2.svg"
                            alt="">
                </div>
                <div class="basement">
                    <h2>supla-client</h2>
                    <p>{% trans %}Enter the data below in your mobile SUPLA application on your smartphone.{% endtrans %}</p>
                    <input type="text"
                            id="server_address"
                            value="{{ base_server }}"
                            readonly>
                    <label for="server_address">{% trans %}Server address{% endtrans %}</label>
                    <input type="text"
                            id="access_identifier"
                            value="{{ base_accessid }}"
                            readonly>
                    <label for="access_identifier">{% trans %}Access Identifier{% endtrans %}</label>
                    <input type="text"
                            id="password"
                            value="{{ base_accesspwd }}"
                            readonly>
                    <label for="password"
                            class="password">{% trans %}Password{% endtrans %}</label>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
