{% extends 'SuplaBundle::layout.html.twig' %}

{% block content %}<br>
    <div class="container"
            style="position: relative">
        <div class="restapi-wrapper">

    <animated-svg id="api-settings" file="{{  asset('assets/img/api-settings-account-bg.svg') }}"></animated-svg>
            <div class="restapi"
                    id="api-detail"
                    data-id="1"
                    data-item-path="{{ path('_api_settings') }}/view">
                <h2>RESTful API</h2>
                <p>{% trans %}OAuth 2.0 Authentication{% endtrans %}</p>

                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            id="server"
                            value="{{ server }}"
                            readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default copy"
                                type="button"
                                data-id="server">{% trans %}copy{% endtrans %}</button>
                    </span>
                </div>
                <label for="server">Server</label>

                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            id="token-url"
                            value="{{ token_url }}"
                            readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default copy"
                                type="button"
                                data-id="token-url">{% trans %}copy{% endtrans %}</button>
                    </span>
                </div>

                <label for="token-url">Token URL</label>
                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            id="clientid"
                            value="{{ client.publicId }}"
                            readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default copy"
                                type="button"
                                data-id="clientid">{% trans %}copy{% endtrans %}</button>
                    </span>
                </div>
                <label for="clientid">ClientID</label>

                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            id="secret"
                            value="{{ client.secret }}"
                            readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default copy"
                                type="button"
                                data-id="secret">{% trans %}copy{% endtrans %}</button>
                    </span>
                </div>
                <label for="secret">Secret</label>

                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            id="granttype"
                            value="{{ client.grantType }}"
                            readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default copy"
                                type="button"
                                data-id="granttype">{% trans %}copy{% endtrans %}</button>
                    </span>
                </div>
                <label for="granttype">GrantType</label>

                <div class="input-group">
                    <input type="text"
                            class="form-control"
                            id="username"
                            value="{{ api_user.username }}"
                            readonly>
                    <span class="input-group-btn">
                        <button class="btn btn-default copy"
                                type="button"
                                data-id="username">{% trans %}copy{% endtrans %}</button>
                    </span>
                </div>
                <label for="username">Username</label>

                <div class="input-group"
                        style="margin: 4px 0 0px;">
                    <input type="password"
                            class="form-control"
                            id="password"
                            value="123456789"
                            disabled>
                    <span class="input-group-btn">
                        <a class="btn btn-default"
                                id="overlay-delete">{% trans %}change{% endtrans %}</a>
                    </span>
                </div>
                <label for="password">Password</label>

                <br>
                <br>

                <div data-preloader="set-enabled-pl"
                        class="btn btn-default btn-enable"
                        {% if api_user.enabled == false %}style="display: none;"{% endif %}><strong>{% trans %}
                        ENABLED{% endtrans %}</strong><br>{% trans %}CLICK TO DISABLE{% endtrans %}</div>
                <div data-preloader="set-enabled-pl"
                        class="btn btn-default btn-disable"
                        {% if api_user.enabled == true %}style="display: none;"{% endif %}><strong>{% trans %}
                        DISABLED{% endtrans %}</strong><br>{% trans %}CLICK TO ENABLE{% endtrans %}</div>
                <div class="btn btn-load btn-big"
                        id="set-enabled-pl"
                        style="display: none;">
                    <div id="circleG">
                        <div id="circleG_1"
                                class="circleG"></div>
                        <div id="circleG_2"
                                class="circleG"></div>
                        <div id="circleG_3"
                                class="circleG"></div>
                    </div>
                </div>

                <br><br><br><p>
                    <!--
                    Client libraries and examples: <a href="https://github.com/SUPLA/restful-api" target="_blank">https://github.com/SUPLA/restful-api</a><br>
                    WikiDoc: <a href="https://github.com/SUPLA/restful-api/wiki" target="_blank">https://github.com/SUPLA/restful-api/wiki</a>
                    -->
                </p>
                <div class="terminal"></div>

            </div>
        </div>
        <br><br>

        <div id="change_pwd_dialog"
                class="overlay-delete overlay-data unblur">
            <div class="dialog">
                <h1>{% trans %}Change Password{% endtrans %}</h1>
                <div class="password-form">

                    <div class="input-group">
                        <input type="text"
                                class="form-control"
                                id="new-password">
                        <span class="input-group-btn">
                            <button class="btn btn-default"
                                    id="generate-api_pwd"
                                    type="button">{% trans %}GENERATE{% endtrans %}</button>
                            <button class="btn btn-default copy"
                                    type="button"
                                    data-id="new-password">{% trans %}copy{% endtrans %}</button>
                        </span>
                    </div>
                    <label for="new-password"
                            class="hidden">{% trans %}New password{% endtrans %}</label>
                </div>
                <div class="controls">
                    <a class="overlay-delete-close cancel">{% trans %}CANCEL{% endtrans %}</a>
                    <a data-path="{{ path('_api_ajax_changepassword') }}"
                            id="apiuser_change_pwd_btn"
                            class="save green"><i class="pe-7s-check"></i></a></div>
            </div>
            </form>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/js/details.js') }}"></script>
    <script src="{{ asset('assets/js/typed.js') }}"></script>
    <script src="{{ asset('assets/js/apisettings.js') }}"></script>
    <script src="{{ asset('assets/js/pGenerator.jquery.js') }}"></script>
    <script>
        $(function () {
            $(".terminal").typed({
                strings: ["{% trans %}Welcome Software Developer! RESTfulAPI has been designed having your needs in mind! With this interface you can integrate your own IT solutions with SUPLA.{% endtrans %}"],
                typeSpeed: 0,
                startDelay: 10,
            });
        });
    </script>
{% endblock %}
