{% extends 'SuplaBundle::layout.html.twig' %}
{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">
                    {% trans %}Create New Schedule{% endtrans %}
                </h1>
            </div>
        </div>
        <div class="progress" id="new-schedule-form-loading">
            <div class="progress-bar progress-bar-info progress-bar-striped active"
                 style="width: 100%">
            </div>
        </div>
        <div class="row margin-top-20" id="new-schedule-form" style="display: none">
            {#<div class="col-xs-12">#}
            {#<div class="row">#}
            {#<div class="col-sm-12">#}
            {#<div class="form-group">#}
            {#<label>{% trans %}Schedule mode{% endtrans %}</label>#}
            {#<div class="clearfix"></div>#}
            {#<div class="btn-group btn-group-lg">#}
            {#{% for mode in scheduleModes %}#}
            {#<button class="btn btn-default"#}
            {#@click="chooseMode('{{ mode }}')"#}
            {#v-bind:class="{'active btn-success': scheduleMode == '{{ mode }}'}">#}
            {#{{ mode|trans|capitalize }}#}
            {#</button>#}
            {#{% endfor %}#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            {#</div>#}
            <div class="row" v-show="scheduleMode">
                <div class="col-md-6">
                    <div class="well">
                        <h3 class="no-margin-top">{{ 'When'|trans }}?</h3>
                        <div class="form-group">
                            {% for mode in scheduleModes %}
                                <div v-show="scheduleMode == '{{ mode }}'">
                                    {{ include("SuplaBundle:Schedule:modes/new-schedule-mode-#{mode}.html.twig") }}
                                </div>
                            {% endfor %}
                        </div>
                        <div v-show="scheduleMode != 'once'">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ 'Start date'|trans }}</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control datetimepicker-start">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ 'End date'|trans }}</label>
                                        <div class="input-group date">
                                            <input type="text" class="form-control datetimepicker-end">
                                            <div class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {#<div class="progress" v-if="calculatingNextRunDates">#}
                            {#<div class="progress-bar progress-bar-info progress-bar-striped active"#}
                                 {#style="width: 100%">#}
                                {#{{ 'calculating closest executions'|trans }}...#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="forum-group" v-if="nextRunDates.length > 0"#}
                             {#v-bind:class="{opacity60: calculatingNextRunDates}">#}
                            {#<h4>{{ 'The closest executions'|trans }}</h4>#}
                            {#<div class="list-group">#}
                                {#<div class="list-group-item" v-for="nextRunDate in nextRunDates">#}
                                        {#<span class="pull-right small text-muted">#}
                                            {#${nextRunDate.fromNow}#}
                                        {#</span>#}
                                    {#${nextRunDate.date}#}
                                {#</div>#}
                            {#</div>#}
                        {#</div>#}
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well">

                        <div class="text-right">
                            <button class="btn btn-success btn-lg"
                                    v-bind:disabled="action == undefined || !nextRunDates.length || submitting || calculatingNextRunDates"
                                    @click="submit()">
                                <i class="pe-7s-plus"></i>
                                {{ 'Add'|trans }}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ asset('assets/js/bootstrap-select/bootstrap-select.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/js/spectrum-colorpicker/spectrum.min.css') }}">
    <style type="text/css">
        /*.sp-picker-container .sp-color {*/
            /*display: none;*/
        /*}*/
/**/
        /*.sp-picker-container .sp-hue {*/
            /*left: 0;*/
        /*}*/

        .bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
            background-color: #398439;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="{{ asset('assets/js/vue.min.js') }}"></script>
    <script src="{{ asset('assets/js/momentjs/moment-with-locales.min.js') }}"></script>
    <script src="{{ asset('assets/js/momentjs/moment-timezone-with-data-2010-2020.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap-select/bootstrap-select.min.js') }}"></script>
    <script src="{{ asset('assets/js/spectrum-colorpicker/spectrum.min.js') }}"></script>
    <script>
        var BASE_URL = '{{ path('_homepage') }}';
        var LOCALE = '{{ app.request.locale }}';
        var TIMEZONE = '{{ app.user.timezone }}';
        {% if not app.user.timezone %}
        TIMEZONE = moment.tz.guess();
        moment.tz.setDefault(TIMEZONE);
        $.ajax({
            method: 'PUT',
            data: {timezone: TIMEZONE},
            url: BASE_URL + 'account/user-timezone'
        })
        {% endif %}
        moment.locale(LOCALE);
        moment.tz.setDefault(TIMEZONE);
        var CHANNEL_FUNCTION_MAP = {{ (channelToFunctionsMap|json_encode|raw) }};
    </script>
    <script src="{{ asset('assets/js/new-schedule-form.js') }}"></script>
{% endblock %}
