{% extends 'SuplaBundle::layout.html.twig' %}

{% set page_title = 'Schedule'|trans ~ ' ID' ~ schedule.id %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>
                    {% trans %}Schedule{% endtrans %} ID{{ schedule.id }}
                    {% if schedule.caption %}
                        <span class="small">{{ schedule.caption }}</span>
                    {% endif %}
                </h1>
                <div class="row">
                    <div class="col-md-6">
                        <img class='pull-right'
                                height="120"
                                src='{{ asset('assets/img/functions/') }}{{ schedule.channel.function }}.svg'>
                        <h4>{{ 'Action'|trans }}</h4>
                        {{ schedule.action.caption|trans }}

                        <h4>{{ 'Subject'|trans }}</h4>

                        {{ schedule.channel.caption ? schedule.channel.caption : schedule.channel.function|channelFunctionToString }}

                        <h4>{{ 'Location'|trans }}</h4>
                        {{ schedule.channel.iodevice.location.caption }}

                        <h4>{{ 'Mode'|trans }}</h4>
                        {{ schedule.mode|trans|capitalize }}

                        <h4>{{ 'Start date'|trans }}</h4>
                        {{ schedule.dateStart|localizeddate('full', 'medium', app.request.locale, app.user.timezone ) }}

                        {% if schedule.dateEnd %}
                            <h4>{{ 'End date'|trans }}</h4>
                            {{ schedule.dateEnd|localizeddate('full', 'medium', app.request.locale, app.user.timezone ) }}
                        {% endif %}

                        <h4>{{ 'Retry when fail'|trans }}</h4>
                        {% if schedule.retry %}
                            <span class="label label-success">{{ 'ENABLED'|trans }}</span>
                        {% else %}
                            <span class="label label-warning">{{ 'DISABLED'|trans }}</span>
                        {% endif %}
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <form action=""
                                    method="post">
                                <div class="btn-group">
                                    {% if schedule.enabled %}
                                        <button class="btn btn-white"
                                                name="disable">
                                            {% trans %}Disable schedule{% endtrans %}
                                        </button>
                                    {% else %}
                                        <button class="btn btn-green"
                                                name="enable">
                                            {% trans %}Enable schedule{% endtrans %}
                                        </button>
                                    {% endif %}
                                    <a class="btn btn-white"
                                            href="{{ path('_schedule_edit', {'schedule': schedule.id}) }}">
                                        {% trans %}Edit schedule{% endtrans %}
                                    </a>
                                    <button class="btn btn-orange"
                                            name="delete"
                                            onclick="return confirm('{% trans %}Are you sure you want to delete this schedule?{% endtrans %}')">
                                        {% trans %}Delete schedule{% endtrans %}
                                    </button>
                                </div>
                            </form>
                        </div>
                        {% if schedule.channel.function.value in [20, 30] %}{# if gate #}
                            <div class="form-group">
                                <div class="alert alert-warning text-center">
                                    {% trans %}The gate sensor must function properly in order to execute the scheduled action.{% endtrans %}
                                </div>
                            </div>
                        {% endif %}

                        <h3 class="text-center">{{ 'Executions'|trans }}</h3>
                        <ul class="schedule-times">
                            {% for execution in closestExecutions['past'] %}
                                <li class="past past{{ closestExecutions['past']|length - loop.index }} {{ execution.failed ? 'failed' : '' }}">
                                    {{ (execution.resultTimestamp ?: execution.plannedTimestamp) | localizeddate('full', 'medium', app.request.locale, app.user.timezone ) }}
                                    {% if execution.failed %}
                                        <div class="small">
                                            {{ execution.result.caption|trans }}
                                        </div>
                                    {% endif %}
                                </li>
                            {% endfor %}
                            {% for execution in closestExecutions['future'] %}
                                <li class="future future{{ loop.index }}">{{ execution.plannedTimestamp|localizeddate('full', 'medium', app.request.locale, app.user.timezone ) }}</li>
                            {% endfor %}
                        </ul>
                        {% if not schedule.enabled %}
                            <h4 class="text-center">{% trans %}No future executions - schedule disabled{% endtrans %}</h4>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
{% block styles %}
    <style type="text/css">
        .schedule-times {
            list-style-type: none;
            padding: 0;
            text-align: center;
            font-size: 1.2em;
        }

        .schedule-times li {
            margin-bottom: 5px;
        }

        .schedule-times .past2 {
            opacity: .6;
            font-size: 0.8em;
        }

        .schedule-times .past1 {
            opacity: .8;
            font-size: 0.9em;
        }

        .schedule-times .past0 {
            opacity: .9;
            font-size: 1em;
        }

        .schedule-times .past {
            color: darkgreen;
        }

        .schedule-times .failed {
            color: #F00;
        }

        .schedule-times .future1 {
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
        }

        .schedule-times .future2 {
            opacity: .9;
            font-size: 1em;
        }

        .schedule-times .future3 {
            opacity: .8;
            font-size: .9em;
        }

        .schedule-times .future4 {
            opacity: .6;
            font-size: .8em;
        }
    </style>
{% endblock %}
