{% extends 'SuplaBundle::layout.html.twig' %}
{% block content %}
<div id="authpage">
<div id="fullpage">
	<div class="section" data-anchor="sign">
	    <div class="slide login active">
			<div class="wrapper">
				<a href="https://www.supla.org" class="brand nav-link animated">
					<img src={{ asset('assets/img/logo.svg') }}>
				</a>

				<form id="login" class="simform animated" action="{% if step == "2" %} {{ path("_auth_login_check") }}  {% else %} {{ path("_auth_login") }} {% endif %}" method="post">

				    <input type="hidden" name="step" value="{{ step }}"/>

					<div class="simform-inner">
						<ol class="questions">
						    {% if step == "2" %}
								<input type="hidden" name="_username" value="{{ last_username }}"/>
								<li>
									<input id="q1" name="_password" type="password" autocomplete="off" placeholder="{% trans %}Enter password{% endtrans %}" autofocus/>
								</li>
							{% else %}
							    <input type="hidden" name="__locale" value="{{ locale }}"/>
								<li>
									<input id="q1" name="_username" type="email" autocomplete="off" placeholder="{% trans %}Enter your email{% endtrans %}" value="{{ last_username }}" autofocus/>
								</li>
							{% endif %}
						</ol>
						<button class="submit" type="submit">Login</button>
						<div class="controls">
							<button class="next">{% trans %}Next{% endtrans %}</button>
							<div class="progress"></div>
							<span class="number">
								<span class="number-current"></span>
								<span class="number-total"></span>
							</span>
							<span class="error-message"></span>
						</div>
					</div>
				</form>

				{% if error %}
					<a href="#sign/1" class="error animated" id="forgotpwd_btn">

					<p><strong>{% trans %}Forgot your password ?{% endtrans %}</strong> {% trans %}Don't worry, you can always reset your password via email. <strong>Click here</strong> to do so.{% endtrans %}</p>
					</a>
				{% endif %}

				<div class="row shortcuts animated">
					<div class="col-xs-6">
						<a id="overlay-delete">
							<img src={{ asset('assets/img/devices.png') }}>
							<span>{% trans %}Supla for devices{% endtrans %}</span>
						</a>
					</div>
					<div class="col-xs-6">
						<a href="{{ create_url }}" class="nav-link">
							<img src={{ asset('assets/img/user.png') }}>
							<span>{% trans %}Create an account{% endtrans %}</span>
						</a>
					</div>
				</div>
			 </div>
		</div>
	    <div class="slide recovery" id="1">
			<form class="recovery-form">
				<h2>{% trans %}Password Reset{% endtrans %}</h2>
				<div class="forgot-password">
					<input autocomplete="off" id="password_reset_email" type="email" value="" placeholder="{% trans %}Enter your email address{% endtrans %}"/>
					<button type="button" data-preloader="reset-pwd-pl" data-path="{{ path('_account_ajax_forgot_passwd') }}" id="password_reset_btn">{% trans %}RESET{% endtrans %}</button>
					<div class="btn btn-load" id="reset-pwd-pl" style="display: none;">
					     <div id="circleG">
					       <div id="circleG_1" class="circleG"></div>
						   <div id="circleG_2" class="circleG"></div>
						   <div id="circleG_3" class="circleG"></div>
					     </div>
					</div>
					<p id="forgot-password-step1" style="display: none">{% trans %}Click RESET button when visible{% endtrans %}</p>
					<p id="forgot-password-step2" style="display: none"><strong>{% trans %}Check your email box{% endtrans %}</strong></p>
				</div>
				<a href="#sign" class="back"><i class="pe-7s-left-arrow"></i></a>
			</form>
		</div>
	</div>

</div>
<footer class="animated">
	<div class="row">
		<div class="col-xs-4 text-left">
			<label>
				<select id="lngSelector">
				    <option {% if locale == 'en' %}selected{% endif %} value="en">English</option>
					<option {% if locale == 'pl' %}selected{% endif %} value="pl">Polski</option>
					<option {% if locale == 'ru' %}selected{% endif %} value="ru">Русский</option>
					<option {% if locale == 'de' %}selected{% endif %} value="de">Deutsch</option>
				</select>
			</label>
		</div>
		<div class="col-xs-4 text-center">
			<a class="brand nav-link" href="https://www.supla.org">www.supla.org</a>
		</div>
		<div class="col-xs-4 text-right">
			<a id="forgotpwd_btn" href="#sign/1">{% trans %}Forgot your password ?{% endtrans %}</a>
		</div>
	</div>
</footer>
</div>


<div class="overlay-apps overlay-data">
<img class="app-preview" src={{ asset('assets/img/supla-app-preview.png') }}>
	<div class="inner">
		<h1>{% trans %}Get SUPLA on your devices{% endtrans %}</h1>
		<p>{% trans %}...and start your adventure with building automation today!{% endtrans %}</p>
		<div class="row app-links">
			<div class="col-xs-12">
				{% trans %}Mobile Apps{% endtrans %}
			</div>
				<div class="col-xs-3"><a href="https://itunes.apple.com/us/app/supla/id996384706" class="nav-link"><img src={{ asset('assets/img/apple.svg') }}>iOS (iPhone)</a></div>
				<div class="col-xs-3"><a href="#"><div class="coming-soon"><span>{% trans %}Coming Soon{% endtrans %}</span></div><img src={{ asset('assets/img/apple.svg') }}>iOS (iPad)</a></div>
				<div class="col-xs-3"><a href="https://play.google.com/store/apps/details?id=org.supla.android"><img src={{ asset('assets/img/android.svg') }}>Android</a></div>
				<div class="col-xs-3"><a href="#"><div class="coming-soon"><span>{% trans %}Coming Soon{% endtrans %}</span></div><img src={{ asset('assets/img/windows.svg') }}>Windows Phone</a></div>
			<div class="col-xs-12">
				{% trans %}I/O Devices{% endtrans %}
			</div>
				<div class="col-xs-3"><a href="https://www.supla.org/download" class="nav-link"><img src={{ asset('assets/img/raspberrypi.svg') }}>Raspberry Pi</a></div>
				<div class="col-xs-3"><a href="https://www.supla.org/download" class="nav-link"><img src={{ asset('assets/img/esp8266.svg') }}>ESP8266</a></div>
				<div class="col-xs-3"><a href="https://www.supla.org/download" class="nav-link"><img src={{ asset('assets/img/arduino.svg') }}>Arduino</a></div>
		</div>
		<a class="overlay-delete-close cancel"><i class="pe-7s-close-circle"></i></a>
	</div>
<div class="github">
	<a href="https://github.com/SUPLA" class="row nav-link">
		<div class="col-xs-3">
		<img src={{ asset('assets/img/github.svg') }}>
		</div>
		<div class="col-xs-9">
		{% trans %}Sources available from <strong>GitHub</strong>{% endtrans %}
		</div>
	</a>
</div>
</div>

<div class="validation_msgs" style="display: none">
<span class="vmsg_dict_item" data-value="Please fill the field before continuing">{% trans %}Please fill the field before continuing{% endtrans %}</span>
<span class="vmsg_dict_item" data-value="Please fill a valid email address">{% trans %}Please fill a valid email address{% endtrans %}</span>
<span class="vmsg_dict_item" data-value="Whoops, that's not an email address!">{% trans %}Whoops, that's not an email address!{% endtrans %}</span>
</div>

<script src="{{ asset('assets/js/classie.js') }}"></script>
		<script src="{{ asset('assets/js/stepsForm.js') }}"></script>
			<script>
                var theForm = document.getElementById( 'login' );
                theForm.setAttribute( "autocomplete", "off" );

                new stepsForm( theForm, {
                onSubmit : function( form ) {
                classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

                    var $server = null;

                    {% if step == "2" %}

	                    form.submit();

                    {% else %}

	                    $.ajax( {type: "POST", url: '{{ path("_auth_server") }}', data: JSON.stringify({ username: $('#q1').val() }) } )
				        .done(function( response ) {

				        	if ( response.success == true ) {
				        		$server = response.server;
				        	}

				            if ( $server == null ) {

			                   $(location).attr('href', '{{ path("_temp_unavailable") }}')

			                } else {

			                     $action = '{{ path("_auth_login") }}';

			                     $('#login').attr('action', 'https://' + $server + $action );

			                	 $("#authpage").fadeOut(500, function(){
						             form.submit()
						         });
			                };
				        });

	                 {% endif %}


                }
                });

				$( "#overlay-delete" ).click(function() {
					$( ".overlay-apps" ).addClass
					('overlay-open');
				  });

				$( ".overlay-delete-close" ).click(function() {
					$( ".overlay-apps" ).removeClass
					( 'overlay-open' );
				});
            </script>
{% endblock %}
