{% extends 'SuplaBundle::layout.html.twig' %}

{% block content %}
<div class="reset-interior">
	<div class="reset-form">
    <h1>{% trans %}Password Reset{% endtrans %}</h1>


		{{ form_start(form) }}   
		
			  {{ form_widget(form.newPassword|first, { 'attr': {'placeholder': 'Enter new password'} }) }}
			  {{ form_errors(form.newPassword|first) }}
			  
			  {{ form_widget(form.newPassword|last, { 'attr': {'placeholder': 'Repeat password'} }) }}
			  {{ form_errors(form.newPassword|last) }}
								
		{{ form_end(form) }}
	</div>
</div>
	<footer class="animated">
	<div class="row">
		<div class="col-xs-4 text-left">
			<label>
				<select id="lngSelector">
				    <option {% if app.request.locale == 'en' %}selected{% endif %} value="en">English</option>
					<option {% if app.request.locale == 'pl' %}selected{% endif %} value="pl">Polski</option>
					<option {% if app.request.locale == 'ru' %}selected{% endif %} value="ru">Русский</option>
					<option {% if app.request.locale == 'de' %}selected{% endif %} value="de">Deutsch</option>
				</select>
			</label>
		</div>
		<div class="col-xs-4 text-center">
			<a class="brand nav-link" href="https://www.supla.org">www.supla.org</a>
		</div>
		<div class="col-xs-4 text-right">
			<ul class="menu list-inline">
				<li><a href="{{ path("_auth_login") }}" class="nav-link">{% trans %}Sign In{% endtrans %}</a></li>
			</ul>
		</div>
	</div>
</footer>

{% endblock %}