{% extends 'SuplaBundle::layout.html.twig' %}

{% block content %}
    <animated-svg id="user-account-bg"
            file="{{ asset('assets/img/user-account-bg.svg') }}"></animated-svg>
    <div class="user-account-container">
        <span class="supla-member">supla cloud {{ version }}</span>
        <div class="user-account">
            <h1>{{ user.email }}</h1>

            <dl>
                <dt>
                    {% trans %}Previous login{% endtrans %}
                </dt>
                <dd>
                    <strong>{% if user.lastlogin is null %}{{ user.currentlogin|date("Y-m-d H:i:s") }}{% else %}{{ user.lastlogin|date("Y-m-d H:i:s") }}{% endif %}</strong>
                </dd>
                <dt>
                    {% trans %}From IP{% endtrans %}
                </dt>
                <dd>
                    <strong>{% if user.lastlogin is null %}{{ user.currentipv4 }}{% else %}{{ user.lastipv4 }}{% endif %}</strong>
                </dd>
                <dt>
                    {% trans %}Timezone{% endtrans %}
                </dt>
                <dd>
                    <timezone-picker timezone="{{ app.user.timezone }}"></timezone-picker>
                </dd>
                <dt>
                    <a id="overlay-delete">{% trans %}Change Password{% endtrans %}</a>
                </dt>
                <dd>
                </dd>
            </dl>
        </div>


        <div id="change_pwd_dialog"
                class="overlay-delete overlay-data">
            <div class="dialog">
                <h1>{% trans %}Change Password{% endtrans %}</h1>
                <div class="password-form">
                    <div class="form-group">
                        <input type="password"
                                class="form-control"
                                id="old-password">
                        <label for="old-password">{% trans %}Current Password{% endtrans %}</label>
                    </div>
                    <div class="form-group">
                        <input type="password"
                                class="form-control"
                                id="new-password">
                        <label for="new-password">{% trans %}New password{% endtrans %}</label>
                    </div>
                    <div class="form-group">
                        <input type="password"
                                class="form-control"
                                id="confirm-password">
                        <label for="confirm-password">{% trans %}Confirm Password{% endtrans %}</label>
                    </div>
                </div>
                <div class="controls">
                    <a class="overlay-delete-close cancel">{% trans %}CANCEL{% endtrans %}</a>
                    <a data-path="{{ path('_account_view') }}"
                            id="change_pwd_btn"
                            class="save green"><i class="pe-7s-check"></i></a></div>
            </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{{ asset('assets/js/details.js') }}"></script>
{% endblock %}
