<div class="loc-accessids">
    
     {{ form_start(form) }}

    <div class="loc-accessids">
	<div class="row">
	{% if aids|length %}
		{% for aid in aids %}
			<label class="col-xs-4" data-id="{{ aid.id }}">
			<input type="checkbox" name="aid[{{ aid.id }}]" value="1" {% if aid in selected %}checked{% endif %}>
			<div class="item {% if aid.enabled == true %} enabled {% else %} disabled {% endif %}">
			<span class="id">ID<strong>{{ aid.id }}</strong></span>
			<div class="details-wrapper">
			 {% trans %}Caption{% endtrans %}<br />
			 <strong>{{ aid.caption }}</strong><br />
			 {% trans %}Password{% endtrans %}<br />
			 <strong>{{ aid.password }}</strong>
			 </div>
			  <span class="status">{% if aid.enabled == true %}{% trans %}Enabled{% endtrans %}{% else %}{% trans %}Disabled{% endtrans %}{% endif %}</span>
			</div>
			</label>
		{% endfor %}
	{% else %}
	<div class="attention">
		<i class="pe-7s-attention"></i>
		<h2>{% trans %}Lack of Access Identifiers{% endtrans %}</h2>
		<p>{% trans %}No Access Identifiers to be assigned to this<br /> Location. Go to Access Identifier and add one.{% endtrans %}</p>
	</div>
	{% endif %}
	</div>


	    </div>
    <div class="overlay-controls">
    {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}         
 </div>