{% extends 'SuplaBundle::layout.html.twig' %}

{% block content %}
<div class="container margin-top-30">
    <h1 class="title">{% trans %}Locations{% endtrans %} <a href="#0" class="cd-btn"><i class="pe-7s-help1"></i></a> <input id="livefilter-input" class="pull-right" type="text" placeholder="{% trans %}Search{% endtrans %}"></h1>
</div>

	<div class="scroll_list_wrapper location_list">
		<div class="inner">
			<ul class="scroll_list owl-carousel">
				<a class="item new" href="{{ path('_loc_new') }}"><i class="pe-7s-plus"></i><br />{% trans %}Create New Location{% endtrans %}</a>
				
				{% for loc in locations|reverse %}
					<a data-id="{{ loc.id }}" class="item {%if loc.id ==loc_selected %}selected{%endif%} {% if loc.enabled %}enable{% else %}disabled{% endif %}">
					<span class="aid">ID<strong>{{ loc.id }}</strong></span> <br />
					<div class="details-wrapper">{% trans %}Caption{% endtrans %}<br />
					<strong><span class="caption_value">{{ loc.caption }}</span></strong><br />
					{% trans %}Password{% endtrans %}<br />
					<strong><span class="password_value">{{ loc.password }}</span></strong></div>
					{% if loc.enabled %}<span class="status">{% trans %}ENABLED{% endtrans %}</span>{% else %}<span class="status disable">{% trans %}DISABLED{% endtrans %}</span>{% endif %}
					</a>
			   {% endfor %}
			</ul>
		</div>
	</div>
<div class="container">
	<div class="details" id="details">	
	{{ details | raw }}
	</div>
</div>

<div class="cd-panel from-left">
		<div class="cd-panel-container">
			<div class="cd-panel-content">
            {% include "SuplaBundle::Help/#{app.request.locale}/loclisthelp.html.twig" %}
			</div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

{% endblock %}