{% block iodevice_details %}

  <div id="accessid-detail" data-id="{{ accessid.id }}" data-item-path="{{ path('_aid_item', {'id': accessid.id}) }}">
		<div class="row margin-top-30 margin-bottom-60">
			<div class="info one-third">
				<h2>ID<strong>{{ accessid.id }}</strong></h2>
				<ul class="list-unstyled">
					<li class="row">
						<div class="col-xs-3">
							<span class="name">{% trans %}Caption{% endtrans %}</span>
						</div>
						<div class="col-xs-9">
							<div class="input-group">
								<input type="text" class="form-control" id="caption" placeholder="{% trans %}Caption{% endtrans %}" value="{{ accessid.caption }}">
								<span class="input-group-btn">
									<button data-preloader="set-caption-pl" class="btn btn-default last" id="caption-save" type="button">{% trans %}SAVE{% endtrans %}</button>
									<div class="btn btn-load" id="set-caption-pl" style="display: none;"><div id="circleG"><div id="circleG_1" class="circleG"></div><div id="circleG_2" class="circleG"></div><div id="circleG_3" class="circleG"></div></div></div>
								</span>
							</div>
						</div>
					</li>
					<li class="row">
						<div class="col-xs-3">
							<span class="name">{% trans %}Password{% endtrans %}</span>
						</div>
						<div class="col-xs-9">
							<div class="input-group">
								<input type="text" id="password" class="form-control" placeholder="{% trans %}Password{% endtrans %}" value="{{ accessid.password }}">
								<span class="input-group-btn">
									<button class="btn btn-default" id="generate" type="button">{% trans %}GENERATE{% endtrans %}</button>
									<button data-preloader="set-pwd-pl" class="btn btn-default last" id="password-save" type="button">{% trans %}SAVE{% endtrans %}</button>
									
									<div id="set-pwd-pl" style="display: none;" class="btn btn-load"><div id="circleG"><div id="circleG_1" class="circleG"></div><div id="circleG_2" class="circleG"></div><div id="circleG_3" class="circleG"></div></div></div>
								</span>
							</div>
						</div>
					</li>
				</ul>
				<div class="buttons">
				<div data-preloader="set-enabled-pl" class="btn btn-default btn-enable" {%if accessid.enabled == false%}style="display: none;"{%endif%}><strong>{% trans %}ENABLED{% endtrans %}</strong><br >{% trans %}CLICK TO DISABLE{% endtrans %}</div>
				<div data-preloader="set-enabled-pl" class="btn btn-default btn-disable" {%if accessid.enabled == true%}style="display: none;"{%endif%}><strong>{% trans %}DISABLED{% endtrans %}</strong><br >{% trans %}CLICK TO ENABLE{% endtrans %}</div> 
				<div class="btn btn-load btn-big" id="set-enabled-pl" style="display: none;"><div id="circleG"><div id="circleG_1" class="circleG"></div><div id="circleG_2" class="circleG"></div><div id="circleG_3" class="circleG"></div></div></div>
				<a class="btn btn-default btn-edit" id="overlay-delete"><strong>{% trans %}DELETE{% endtrans %}</strong></a>
				</div>
			</div>
			

			<div class="assignments two-third">
				<h2>{% trans %}Assigned Locations{% endtrans %}</h2>
				<table class="locationtable table table-hover">
				 <thead>
					<tr>
					  <th style="width: 45px; text-align: center;">ID</th>
					  <th style="width: 100px;">{% trans %}Password{% endtrans %}</th>
					  <th>{% trans %}Caption{% endtrans %}</th>
					</tr>
				 </thead>
				 <tbody>
				 {% if locations|length %}
				   {% for loc in locations %}
				       <tr data-id="{{ loc.id }}" class="supla-tooltip" title="
						
						&lt;a class&#61;&quot;details {%if loc.enabled == true%}enabled{% else %}disabled{% endif %}&quot; href&#61;&quot;{{ path('_loc_item', {'id': loc.id}) }}&quot;&gt;
						&lt;span class&#61;&quot;id&quot;&gt;ID&lt;strong&gt;{{ loc.id }}&lt;/strong&gt;  &lt;/span&gt; &lt;br/ &gt;
						&lt;div class&#61;&quot;details-wrapper&quot;&gt; Caption &lt;br/ &gt;
						&lt;strong&gt;{{ loc.caption }}&lt;/strong&gt;&lt;br/ &gt;
						{% trans %}Password{% endtrans %} &lt;br/ &gt;
						&lt;strong&gt;{{ loc.password }}&lt;/strong&gt;&lt;/div&gt;
						
						&lt;br/ &gt;
						
						&lt;span class&#61;&quot;status&quot;&gt;{%if loc.enabled == true%}enabled{% else %}disabled{% endif %}&lt;/span&gt;
						&lt;/a&gt;
						
						">
						 <td class="text-center"><a href="{{ path('_loc_item', {'id': loc.id}) }}" {% if loc.enabled is empty %} class="disabled" {% endif %}><strong>{{ loc.id }}</strong></a></td>
						 <td>{{ loc.password }}</td>
						 <td scope="row"><a class="caption" href="{{ path('_loc_item', {'id': loc.id}) }}">{{ loc.caption }}</a></td>
					   </tr>
				   {% endfor %}
				  {% else %}
				  	<tr><td></td><td colspan="2">{% trans %}No Locations assigned{% endtrans %}</td></tr>
				  {% endif %}

				   <tr>
					 <td><a><i class="pe-7s-more"></i></a></td>
					 <td colspan=2><a id="overlay-assignments"><strong>{% trans %}Assign Locations{% endtrans %}</strong></a></td>
				   </tr>
				  
					  
				 </tbody>
			   </table>
			</div>
	</div>

<div class="overlay-delete overlay-data">
	<div class="dialog">
		<h1>{% trans %}Are you sure?{% endtrans %}</h1>
		<p>{% trans %}Confirm if you want to remove Access Identifier{% endtrans %} <strong>(ID {{ accessid.id }})</strong>. {% trans %}Further connection with this Identifier will be impossible{% endtrans %}.</p>
		<div class="controls">
			<a class="overlay-delete-close cancel">{% trans %}CANCEL{% endtrans %}</a>
			<a href="{{ path('_aid_item_delete', {'id': accessid.id}) }}" id="assign_type_save" class="save"><i class="pe-7s-check"></i></a></div>
		</div>
</div>
	
<div class="overlay overlay-data overlay-assignments">
	<div class="overlay-title"><h1>{% trans %}Assign Locations{% endtrans %}</h1>
	  <p>{% trans %}Choose locations to be assigned to Access Identifier{% endtrans %} <strong>(ID {{ accessid.id }})</strong></p></div>
      <div class="overlay-list">
		  <div class="assign-list">   
		  </div>
	</div>
</div>
	
	<script src="{{ asset('assets/js/details.js') }}"></script>
	
{% endblock %}
