{% extends 'SuplaBundle::layout.html.twig' %}

{% block content %}
<div class="container margin-top-30 ">
    <h1 class="title">{% trans %}Access Identifiers{% endtrans %}<a href="#0" class="cd-btn"><i class="pe-7s-help1"></i></a> <input id="livefilter-input" class="pull-right" type="text" placeholder="{% trans %}Search{% endtrans %}"></h1>
</div>

	<div class="scroll_list_wrapper access_id_list">
		<div class="inner">
			<ul class="scroll_list owl-carousel">
				<a class="item new" href="{{ path('_aid_new') }}"><i class="pe-7s-plus"></i><br />{% trans %}Create New Access Identifier{% endtrans %}</a>
				{% for aid in accessids|reverse %}
					<a data-id="{{ aid.id }}" class="item {%if aid.id == aid_selected %}selected{%endif%} {% if aid.enabled %}enable{% else %}disabled{% endif %}">
					<span class="aid">ID<strong>{{ aid.id }}</strong></span> <br />
					<div class="details-wrapper">{% trans %}Caption{% endtrans %}<br />
					<strong><span class="caption_value">{{ aid.caption }}</span></strong><br />
					{% trans %}Password{% endtrans %}<br />
					<strong><span class="password_value">{{ aid.password }}</span></strong></div>
					{% if aid.enabled %}<span class="status">{% trans %}Enabled{% endtrans %}</span>{% else %}<span class="status disable">{% trans %}Disabled{% endtrans %}</span>{% endif %}</a>
			   {% endfor %}
			</ul>
		</div>
	 </div>
	  
<div class="container">
	<div class="details" id="details">	
	{{ details | raw }}
	</div>
</div>


<div class="cd-panel from-left">
		<div class="cd-panel-container">
			<div class="cd-panel-content">
            {% include "SuplaBundle::Help/#{app.request.locale}/aidlisthelp.html.twig" %}
			</div> <!-- cd-panel-content -->
		</div> <!-- cd-panel-container -->
</div> <!-- cd-panel -->

            
{% endblock %}