<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />
        <title>SUPLA CLOUD</title>
		{% if app.user %}
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		{% else %}
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
			<link href="{{ asset('assets/css/supla-login.css') }}" rel="stylesheet" />
		{% endif %}

		{% block styles %}{% endblock %}

		<link href="{{ asset('assets/css/fonts.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/css/supla.css') }}" rel="stylesheet" />
		
		<link rel="icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon" />

		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla16.png') }}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla32.png') }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla96.png') }}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla160.png') }}" sizes="160x160" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla196.png') }}" sizes="196x196" />
		 
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/icons/supla57.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/icons/supla114.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/icons/supla72.png') }}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/icons/supla144.png') }}" />
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/icons/supla60.png') }}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/icons/supla120.png') }}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/icons/supla76.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/icons/supla152.png') }}" />
		
        <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
		<script>
			window.jQuery || document.write('<script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"><\/script>')
		</script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.turn-off-tv.js') }}"></script>
        <script src="{{ asset('assets/js/pnotify.custom.min.js') }}"></script>
        <script src="{{ asset('assets/js/supla.js') }}"></script>

        {% if app.user %}
			{% if app.request.get('_route') == '_loc_list' or app.request.get('_route') == '_aid_list' %}
				<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.liveFilter.js') }}"></script>
				<script src="{{ asset('assets/js/pGenerator.jquery.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
			{% endif %}
			{% if app.request.get('_route') == '_iodev_list' %}
				<script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
				<script src="{{ asset('assets/js/iodev.js') }}"></script>
			{% endif %}
			{% if app.request.get('_route') == '_iodev_item' %}
				<script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
			{% endif %}
			
			
		{% else %}
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
			<script type="text/javascript" src="{{ asset('assets/js/jquery.fullPage.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/js/jquery.add-class-when-email.js') }}"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#fullpage').fullpage({
						scrollingSpeed: 1000
					});
					$.fn.fullpage.setMouseWheelScrolling(false);
					$.fn.fullpage.setAllowScrolling(false);
					
					$( '.recovery-form' ).addClassWhenEmail(
					{
						className:  'form-btn-active',
						email:      'input[type="email"]'
					});
				});
			</script>
        {% endif %}
        
	
        
    </head>
    <body {% if app.request.get('_route') == '_auth_login' %} class="login" {% endif %} {% if app.request.get('_route') == '_iodev_item' %} class="device-details" {% endif %} {% if app.request.get('_route') == '_account_create_here'%} class="register" {% endif %}  {% if app.request.get('_route') == '_account_checkemail'%} class="register_success" {% endif %} {% if app.request.get('_route') == '_account_reset_passwd'%} class="reset" {% endif %}
	{% if homepage_viewed is defined and homepage_viewed == false %} class="first-time" {% endif %} 
	{% if app.request.get('_route') == '_iodev_channel_item_edit' %} class="channel" {% endif %}>
	<div id="hello">
		<div class="container">
			<h1>{% trans %}Hi{% endtrans %}</h1>
		</div>
	</div>
    
    {% include 'AppBundle:Dialogs:flashmsgs.html.twig' %}
    
    {% block content_header %}
    
        {% if app.user %}
		
		<div class="navbar-holder">
		<nav class="navbar navbar-default animated">
        	<div class="container">
				<ul class="nav navbar-nav navbar-center">
				  <li class="pull-left"><a href="https://www.supla.org" target="_blank"><img src={{ asset('assets/img/logo.svg') }}> supla</a></li>
				  <li {% if app.request.get('_route') == '_homepage' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_homepage') }}"><i class="pe-7s-rocket"></i><br /> {% trans %}Start Here{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_iodev_list' or app.request.get('_route') == '_iodev_item' or app.request.get('_route') == '_iodev_channel_item_edit' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_iodev_list') }}"><i class="pe-7s-plug"></i><br /> {% trans %}I/O Devices{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_loc_list' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_loc_list') }}"><i class="pe-7s-home"></i><br /> {% trans %}Locations{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_aid_list' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_aid_list') }}"><i class="pe-7s-key"></i><br /> {% trans %}Access Identifiers{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_schedule_list' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_schedule_list') }}"><i class="pe-7s-key"></i><br /> {% trans %}Schedules{% endtrans %}</a></li>
				  <li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.email }} <span class="caret"></span></a>
						<ul class="dropdown-menu">
					  		<li><a class="nav-link" href="{{ path('_account_view') }}">{% trans %}Account{% endtrans %}</a></li>
							<li class="divider"></li>
							<li class="dropdown-header">{% trans %}Languages{% endtrans %}</li>
							<li><a class="lng_switch" data-lng="en" href="#">English</a></li>
							<li><a class="lng_switch" data-lng="pl" href="#">Polski</a></li>
							<li><a class="lng_switch" data-lng="ru" href="#">Русский</a></li>
							<li><a class="lng_switch" data-lng="de" href="#">Deutsch</a></li>
							<li class="divider"></li>
							<li><a id="black" href="{{ path('_auth_logout') }}">{% trans %}Sign Out{% endtrans %}</a></li>
						</ul>
				  	</li>
				</ul>
           </div>
      </nav>
	  </div>
        {% endif %}
    {% endblock %}
	
	<div id="block">
        {% block content %}{% endblock %}
 	</div>

	{% block scripts %}{% endblock %}
    </body>
</html>
