<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}">
    <title>{% if page_title is defined %} {{ page_title }} - {% endif %}SUPLA Cloud</title>
    <meta name="viewport"
            content="width=device-width, initial-scale=1">
    <meta name="theme-color"
            content="#00732C">
    {% block styles %}{% endblock %}
    <link rel="icon"
            href="{{ asset('assets/img/icons/favicon.ico') }}"
            type="image/x-icon"/>
    <link rel="shortcut icon"
            href="{{ asset('assets/img/icons/favicon.ico') }}"
            type="image/x-icon"/>
    {% for iconSize in [16, 32, 96, 160, 196] %}
        <link rel="icon"
                type="image/png"
                href="{{ asset('assets/img/icons/supla' ~ iconSize ~ '.png') }}"
                sizes="{{ iconSize }}x{{ iconSize }}">
    {% endfor %}
    {% for iconSize in [57, 60, 72, 76, 114, 120, 144, 152] %}
        <link rel="apple-touch-icon"
                sizes="{{ iconSize }}x{{ iconSize }}"
                href="{{ asset('assets/img/icons/supla' ~ iconSize ~ '.png') }}">
    {% endfor %}
    <base href="/">
</head>
<body>
{% block body %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
