<!DOCTYPE html>
<html>
<head>
    <meta charset="{{ _charset }}" />
    <meta name="robots" content="noindex,nofollow" />
    <title>{% if page_title is defined %} {{ page_title }} | {% endif %}SUPLA CLOUD</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    {% if not app.user %}
        <link href="{{ asset('assets/css/supla-login.css?v=3') }}" rel="stylesheet" />
    {% endif %}

    {% block styles %}{% endblock %}

    <link href="{{ asset('assets/css/fonts.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/supla21101701.css') }}" rel="stylesheet" />

    <link rel="icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon" />

    <link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla16.png') }}" sizes="16x16" />
    <link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla32.png') }}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla160.png') }}" sizes="160x160" />
    <link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla196.png') }}" sizes="196x196" />

    <link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/icons/supla57.png') }}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/icons/supla114.png') }}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/icons/supla72.png') }}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/icons/supla144.png') }}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/icons/supla60.png') }}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/icons/supla120.png') }}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/icons/supla76.png') }}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/icons/supla152.png') }}" />

    {% include '@Supla/frontend-config.html.twig' %}

    <script src="{{ asset('assets/dist/commons.js', 'webpack') }}"></script>
    <script src="{{ asset('assets/dist/translations/messages-' ~ app.request.locale ~ '.js', 'webpack') }}"></script>
    <script src="{{ asset('assets/js/supla21101701.js') }}"></script>

    {% if app.user %}
    {% if app.request.get('_route') == '_loc_list' or app.request.get('_route') == '_aid_list' %}
        <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.liveFilter.js') }}"></script>
        <script src="{{ asset('assets/js/pGenerator.jquery.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
    {% endif %}
    {% if app.request.get('_route') == '_iodev_item' %}
        <script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
    {% endif %}

    {% else %}
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="{{ asset('assets/js/jquery.fullPage.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
        <script type="text/javascript" src="{{ asset('assets/js/jquery.add-class-when-email.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#fullpage').fullpage({
                    scrollingSpeed: 1000
                });
                $.fn.fullpage.setMouseWheelScrolling(false);
                $.fn.fullpage.setAllowScrolling(false);

                $( '.recovery-form' ).addClassWhenEmail(
                    {
                        className:  'form-btn-active',
                        email:      'input[type="email"]'
                    });
            });
        </script>
    {% endif %}
    <base href="/">


</head>
<body {% if app.request.get('_route') == '_iodev_item' %} class="device-details" {% endif %}
        {% if app.request.get('_route') == '_account_create_here'%} class="register" {% endif %}
        {% if app.request.get('_route') == '_account_checkemail'%} class="register_success" {% endif %}
        {% if app.request.get('_route') == '_account_reset_passwd'%} class="reset" {% endif %}
        {% if app.request.get('_route') == '_account_view'%} class="account" {% endif %}
        {% if app.request.get('_route') == '_api_settings'%} class="api-settings" {% endif %}
        {% if homepage_viewed is defined and homepage_viewed == false %} class="first-time" {% endif %}
        {% if app.request.get('_route') == '_iodev_channel_item_edit' %} class="channel" {% endif %}>

{% include 'SuplaBundle:Dialogs:flashmsgs.html.twig' %}

{% block content_header %}

    {% if app.user %}
        {{ include('@Supla/navbar.html.twig') }}
    {% endif %}
{% endblock %}
<div class="main-content{% if app.request.get('_route') != '_account_create_here'%} vue-container{% endif %}">
    {% block content %}{% endblock %}
    {% if app.user and not app.debug %}
        <idle-logout></idle-logout>
    {% endif %}
</div>

{% block scripts %}{% endblock %}
</body>
</html>
