<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <meta name="robots" content="noindex,nofollow" />
        <title>SUPLA CLOUD</title>
		{% if app.user %}
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		{% else %}
			<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
			<link href="{{ asset('assets/css/supla-login.css?v=3') }}" rel="stylesheet" />
		{% endif %}
		
		{% block styles %}{% endblock %}
		
		<link href="{{ asset('assets/css/fonts.css') }}" rel="stylesheet" />
        <link href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/css/supla.css') }}" rel="stylesheet" />
		
		<link rel="icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon" />
		<link rel="shortcut icon" href="{{ asset('assets/img/icons/favicon.ico') }}" type="image/x-icon" />

		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla16.png') }}" sizes="16x16" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla32.png') }}" sizes="32x32" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla96.png') }}" sizes="96x96" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla160.png') }}" sizes="160x160" />
		<link rel="icon" type="image/png" href="{{ asset('assets/img/icons/supla196.png') }}" sizes="196x196" />
		 
		<link rel="apple-touch-icon" sizes="57x57" href="{{ asset('assets/img/icons/supla57.png') }}" />
		<link rel="apple-touch-icon" sizes="114x114" href="{{ asset('assets/img/icons/supla114.png') }}" />
		<link rel="apple-touch-icon" sizes="72x72" href="{{ asset('assets/img/icons/supla72.png') }}" />
		<link rel="apple-touch-icon" sizes="144x144" href="{{ asset('assets/img/icons/supla144.png') }}" />
		<link rel="apple-touch-icon" sizes="60x60" href="{{ asset('assets/img/icons/supla60.png') }}" />
		<link rel="apple-touch-icon" sizes="120x120" href="{{ asset('assets/img/icons/supla120.png') }}" />
		<link rel="apple-touch-icon" sizes="76x76" href="{{ asset('assets/img/icons/supla76.png') }}" />
		<link rel="apple-touch-icon" sizes="152x152" href="{{ asset('assets/img/icons/supla152.png') }}" />
		
        <script src="{{ asset('assets/js/jquery-2.1.4.min.js') }}"></script>
		<script>
			window.FRONTEND_CONFIG = {
				locale: '{{ app.request.locale }}',
				baseUrl: '{{ path('_homepage') }}',
				timezone: '{{ app.user ? app.user.timezone : '' }}'
			};
		</script>
        <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
		<script src="{{ asset('assets/js/jquery.turn-off-tv.js') }}"></script>
        <script src="{{ asset('assets/js/pnotify.custom.min.js') }}"></script>
        <script src="{{ asset('assets/js/supla.js') }}"></script>
		<script src="{{ asset('assets/dist/commons.js', 'webpack') }}"></script>

        {% if app.user %}
			{% if app.request.get('_route') == '_loc_list' or app.request.get('_route') == '_aid_list' %}
				<script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.liveFilter.js') }}"></script>
				<script src="{{ asset('assets/js/pGenerator.jquery.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
			{% endif %}
			{% if app.request.get('_route') == '_iodev_list' %}
				<script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
				<script src="{{ asset('assets/js/iodev.js') }}"></script>
			{% endif %}
			{% if app.request.get('_route') == '_iodev_item' %}
				<script src="{{ asset('assets/js/isotope.pkgd.min.js') }}"></script>
				<script src="{{ asset('assets/js/jquery.tooltipster.min.js') }}"></script>
			{% endif %}
			{% if app.request.get('_route') == '_account_view' or app.request.get('_route') == '_api_settings' %} 
				<script src="{{ asset('assets/js/jquery.drawsvg.js') }}"></script>
				<script src="{{ asset('assets/js/chosen.jquery.min.js') }}"></script>
				<script src="{{ asset('assets/js/typed.js') }}"></script>
			{% endif %}
			
			
		{% else %}
			<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>
			<script type="text/javascript" src="{{ asset('assets/js/jquery.fullPage.min.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/js/modernizr.custom.js') }}"></script>
			<script type="text/javascript" src="{{ asset('assets/js/jquery.add-class-when-email.js') }}"></script>
			<script type="text/javascript">
				$(document).ready(function() {
					$('#fullpage').fullpage({
						scrollingSpeed: 1000
					});
					$.fn.fullpage.setMouseWheelScrolling(false);
					$.fn.fullpage.setAllowScrolling(false);
					
					$( '.recovery-form' ).addClassWhenEmail(
					{
						className:  'form-btn-active',
						email:      'input[type="email"]'
					});
				});
			</script>
        {% endif %}
        <base href="/">
	
        
    </head>
    <body {% if app.request.get('_route') == '_auth_login' %} class="login" {% endif %} {% if app.request.get('_route') == '_iodev_item' %} class="device-details" {% endif %} {% if app.request.get('_route') == '_account_create_here'%} class="register" {% endif %}  {% if app.request.get('_route') == '_account_checkemail'%} class="register_success" {% endif %} {% if app.request.get('_route') == '_account_reset_passwd'%} class="reset" {% endif %} {% if app.request.get('_route') == '_account_view'%} class="account" {% endif %} {% if app.request.get('_route') == '_api_settings'%} class="api-settings" {% endif %} 
	{% if homepage_viewed is defined and homepage_viewed == false %} class="first-time" {% endif %} 
	{% if app.request.get('_route') == '_iodev_channel_item_edit' %} class="channel" {% endif %}>
    
    {% include 'SuplaBundle:Dialogs:flashmsgs.html.twig' %}
    
    {% block content_header %}
    
        {% if app.user %}
		
		<div class="navbar-holder">
		<nav class="navbar navbar-default animated">
        	<div class="container">
				<ul class="nav navbar-nav navbar-center">
				  <li class="pull-left"><a href="https://www.supla.org" target="_blank">
				  
				  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"

	 viewBox="-1 0.2 56.5 59.8" style="enable-background:new -1 0.2 56.5 59.8;" xml:space="preserve">

<style type="text/css">

	.st0{display:none;}

	.st1{fill:none;}

</style>

<g id="Layer_1_1_" class="st0">

</g>

<g>

	<path class="st1" d="M27.8,57.7c-9.2,0-18.3,0-27.5,0c-0.2,0-0.3,0-0.3-0.3c0-18.3,0-36.7,0-55c0-0.2,0-0.3,0.3-0.3
	c18.3,0,36.7,0,55,0c0.2,0,0.3,0,0.3,0.3c0,18.3,0,36.7,0,55c0,0.2,0,0.3-0.3,0.3C46.1,57.7,36.9,57.7,27.8,57.7z M16.8,3
	c-0.3,0-0.6,0-0.9,0c-0.2,0-0.4,0-0.6,0.1c-3,0.4-5.6,1.7-7.6,4.1c-2.1,2.5-2.9,5.3-2.5,8.6c0.3,2.8,1.6,5.1,3.7,7
	c2.5,2.2,5.4,3.1,8.7,2.9c0.2,0,0.3,0.1,0.4,0.3c1.7,4.9,3.4,9.8,5,14.7c0.6,1.7,1.2,3.4,1.7,5.2c0.1,0.3,0,0.4-0.2,0.6
	c-2.1,1.4-3,4-2.3,6.3c1.2,3.9,6,5.3,9.2,2.9c1.7-1.3,2.5-3,2.3-5.2c-0.1-1.3-0.7-2.5-1.6-3.4c-0.2-0.2-0.2-0.3,0-0.4
	c0.5-0.5,1-1,1.4-1.5c1.4-1.5,2.8-3,4.2-4.5c1.3-1.4,2.6-2.7,3.8-4.1c0.1-0.1,0.2-0.2,0.4-0.1c2.2,1.2,4.5,1.2,6.7-0.1
	c2.4-1.3,3.6-4.1,3.1-6.7c-0.6-3.1-3.3-5.3-6.7-5.3c-1.5,0-2.9,0.5-4.1,1.5c-0.2,0.2-0.4,0.2-0.7,0c-0.8-0.5-1.5-1-2.3-1.5
	c-3.4-2.1-6.7-4.3-10.1-6.4c-0.2-0.1-0.2-0.2-0.1-0.4c0.3-1,0.5-1.9,0.5-2.9c0.1-1.8-0.3-3.5-1.1-5.1C25.2,5.2,21.5,3.2,16.8,3z"/>

	<path class="this" d="M16.8,3c4.8,0.2,8.4,2.2,10.6,6.5c0.8,1.6,1.1,3.3,1.1,5.1c0,1-0.2,2-0.5,2.9c-0.1,0.2,0,0.3,0.1,0.4
	c3.4,2.1,6.7,4.3,10.1,6.4c0.8,0.5,1.5,1,2.3,1.5c0.3,0.2,0.4,0.2,0.7,0c1.2-1,2.6-1.5,4.1-1.5c3.3,0,6.1,2.2,6.7,5.3
	c0.5,2.6-0.8,5.3-3.1,6.7c-2.2,1.2-4.5,1.2-6.7,0.1c-0.2-0.1-0.3-0.1-0.4,0.1c-1.3,1.4-2.6,2.7-3.8,4.1c-1.4,1.5-2.8,3-4.2,4.5
	c-0.5,0.5-0.9,1-1.4,1.5c-0.2,0.2-0.2,0.3,0,0.4c0.9,0.9,1.5,2.1,1.6,3.4c0.2,2.1-0.6,3.9-2.3,5.2c-3.2,2.4-8,1-9.2-2.9
	c-0.8-2.3,0.2-4.9,2.3-6.3c0.2-0.2,0.3-0.3,0.2-0.6c-0.5-1.7-1.2-3.4-1.7-5.2c-1.7-4.9-3.4-9.8-5-14.7c-0.1-0.2-0.1-0.3-0.4-0.3
	c-3.3,0.2-6.2-0.7-8.7-2.9c-2.1-1.8-3.4-4.2-3.7-7c-0.4-3.2,0.5-6.1,2.5-8.6c2-2.3,4.5-3.7,7.6-4.1c0.2,0,0.4,0,0.6-0.1
	C16.2,3,16.5,3,16.8,3z M21.3,24.9c0,0,0,0.1,0,0.2c0.4,1.8,0.8,3.5,1.3,5.3c1.2,4.9,2.4,9.9,3.5,14.8c0.1,0.3,0.2,0.3,0.4,0.3
	c1.4-0.3,2.8-0.2,4.1,0.5c0.2,0.1,0.3,0.1,0.5-0.1c3-3.6,5.9-7.1,8.8-10.8c0.1-0.2,0.1-0.3,0-0.5c-1.5-2.2-1.6-4.5-0.3-6.8
	c0.1-0.2,0.1-0.3-0.1-0.4c-2.4-1.3-4.8-2.6-7.2-3.9c-1.8-1-3.6-1.9-5.4-2.9c-0.2-0.1-0.3-0.1-0.4,0.1c-0.3,0.5-0.7,1-1.1,1.4
	c-1.1,1.2-2.4,2.1-3.9,2.7C21.4,24.7,21.3,24.7,21.3,24.9z M24.6,14.2c0-0.7-0.1-1.5-0.4-2.3C23,8.8,20.7,7,17.4,6.7
	c-2.6-0.2-4.9,0.7-6.7,2.7c-2.2,2.5-2.5,6.2-0.6,9c1.8,2.7,5,4,8.3,3.3C22,21,24.6,17.9,24.6,14.2z M28.1,54.8c0.2,0,0.4,0,0.6-0.1
	c2.5-0.4,4-3,3.1-5.3c-0.7-1.6-2.5-2.7-4.4-2.4c-2.2,0.3-3.7,2.5-3.3,4.6C24.4,53.5,26,54.8,28.1,54.8z M45.4,27
	c-0.3,0-0.6,0-0.8,0.1c-2.4,0.5-3.8,2.9-2.9,5.2c0.8,1.9,3,2.9,5,2.2c1.9-0.6,2.9-2.5,2.5-4.4C48.9,28.2,47.3,27,45.4,27z"/>

	<path class="st1" d="M21.3,24.9c0-0.2,0.1-0.2,0.2-0.2c1.5-0.6,2.8-1.5,3.9-2.7c0.4-0.4,0.8-0.9,1.1-1.4c0.1-0.2,0.2-0.2,0.4-0.1
	c1.8,1,3.6,1.9,5.4,2.9c2.4,1.3,4.8,2.6,7.2,3.9c0.2,0.1,0.3,0.2,0.1,0.4c-1.3,2.3-1.1,4.6,0.3,6.8c0.1,0.2,0.1,0.3,0,0.5
	c-2.9,3.6-5.9,7.2-8.8,10.8c-0.1,0.2-0.3,0.2-0.5,0.1c-1.3-0.7-2.7-0.8-4.1-0.5c-0.3,0.1-0.4,0-0.4-0.3c-1.2-4.9-2.3-9.9-3.5-14.8
	c-0.4-1.8-0.8-3.5-1.3-5.3C21.3,25,21.3,24.9,21.3,24.9z"/>

	<path class="st1" d="M24.6,14.2c0,3.7-2.6,6.8-6.2,7.6c-3.3,0.7-6.5-0.6-8.3-3.3c-1.9-2.8-1.6-6.5,0.6-9c1.8-2,4-2.9,6.7-2.7
	c3.3,0.3,5.6,2,6.8,5.2C24.5,12.7,24.6,13.5,24.6,14.2z"/>

	<path class="st1" d="M28.1,54.8c-2,0-3.7-1.3-4-3.2c-0.4-2.1,1.1-4.3,3.3-4.6c1.9-0.3,3.7,0.8,4.4,2.4c1,2.3-0.5,5-3.1,5.3
	C28.5,54.8,28.2,54.8,28.1,54.8z"/>

	<path class="st1" d="M45.4,27c1.9,0,3.5,1.3,3.9,3c0.4,1.9-0.7,3.8-2.5,4.4c-2,0.7-4.3-0.3-5-2.2c-0.9-2.2,0.5-4.7,2.9-5.2
	C44.8,27,45.1,27,45.4,27z"/>

</g>
</svg>

				  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;supla</a></li>
				  <li {% if app.request.get('_route') == '_homepage' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_homepage') }}"><i class="pe-7s-rocket"></i><br /> {% trans %}Start Here{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_iodev_list' or app.request.get('_route') == '_iodev_item' or app.request.get('_route') == '_iodev_channel_item_edit' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_iodev_list') }}"><i class="pe-7s-plug"></i><br /> {% trans %}I/O Devices{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_loc_list' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_loc_list') }}"><i class="pe-7s-home"></i><br /> {% trans %}Locations{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_aid_list' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_aid_list') }}"><i class="pe-7s-key"></i><br /> {% trans %}Access Identifiers{% endtrans %}</a></li>
				  <li {% if app.request.get('_route') == '_schedule_list' %} class="active" {% endif %}><a class="nav-link" href="{{ path('_schedule_list') }}"><i class="pe-7s-play"></i><br />{% trans %}Schedules{% endtrans %}</a></li>
				  
				  <li class="dropdown pull-right">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="pe-7s-user"></i><br />Konto<span class="caret"></span></a>
						<ul class="dropdown-menu">
					  		<li><a class="nav-link" href="{{ path('_account_view') }}">{{ app.user.email }}<span><br>Przejdź do mojego konta</span></a></li>
							<li class="divider"></li>
							<li class="lng_switcher">
								<a class="lng_switch {% if app.request.locale == 'en' %} active {% endif %}" data-lng="en" href="#"><img src={{ asset('assets/img/flags/en.svg') }}></a>
								<a class="lng_switch {% if app.request.locale == 'pl' %} active {% endif %}" data-lng="pl" href="#"><img src={{ asset('assets/img/flags/pl.svg') }}></a>
								<a class="lng_switch {% if app.request.locale == 'ru' %} active {% endif %}" data-lng="ru" href="#"><img src={{ asset('assets/img/flags/ru.svg') }}></a>
								<a class="lng_switch {% if app.request.locale == 'de' %} active {% endif %}" data-lng="de" href="#"><img src={{ asset('assets/img/flags/de.svg') }}></a>
							</li>
							<li class="divider"></li>
							<li class="bottom"><a class="nav-link" href="{{ path('_api_settings') }}">{% trans %}RESTful API{% endtrans %}</a><a id="logout" href="{{ path('_auth_logout') }}">{% trans %}Sign Out{% endtrans %}</a></li>
						</ul>
				  	</li>
				</ul>
           </div>
      </nav>
	  </div>
        {% endif %}
    {% endblock %}
	<div id="block">
        {% block content %}{% endblock %}
 	</div>

	{% if app.user %}
		<div class="modal fade" id="idleWarningModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">{% trans %}You will be logged out in a moment{% endtrans %}</h4>
					</div>
					<div class="modal-body">
						<p>{% trans %}If you want to stay here, do something!{% endtrans %}</p>
						<div class="progress">
							<div class="progress-bar progress-bar-success progress-bar-striped active"></div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="{{ asset('assets/js/idle-logout.js') }}"></script>
	{% endif %}

	{% block scripts %}{% endblock %}
    </body>
</html>
