<nav class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#supla-navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                    href="{{ path('_homepage') }}">
                {{ include('@Supla/supla-logo-svg.html.twig') }}
                supla
            </a>
        </div>

        <div class="collapse navbar-collapse"
                id="supla-navbar">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') starts with '_iodev' or app.request.get('_route') starts with '_my_supla' %} class="active" {% endif %}>
                    <a href="{ path('_my_supla') }">
                        <i class="hidden-sm hidden-xs pe-7s-plug"></i>
                        {% trans %}My SUPLA{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') == '_client_apps_list' or app.request.get('_route') == '_client_apps_list' %} class="active" {% endif %}>
                    <a href="path('_client_apps_list')">
                        <i class="hidden-sm hidden-xs pe-7s-phone"></i>
                        {% trans %}Smartphones{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') starts with '_loc_' %} class="active" {% endif %}>
                    <a href="{{ path('_loc_list') }}"><i class="hidden-sm hidden-xs pe-7s-home"></i>{% trans %}Locations{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') starts with '_aid_' %} class="active" {% endif %}>
                    <a href="{{ path('_aid_list') }}">
                        <i class="hidden-sm hidden-xs pe-7s-key"></i>
                        {% trans %}Access Identifiers{% endtrans %}
                    </a>
                </li>

                <li class="dropdown {% if app.request.get('_route') starts with '_schedule' or app.request.get('_route') starts with '_channel_groups' %}active{% endif %}">
                    <a class="dropdown-toggle"
                            data-toggle="dropdown">
                        <i class="hidden-sm hidden-xs pe-7s-config"></i>
                        {% trans %}Automation{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li {% if app.request.get('_route') starts with '_schedule' %} class="active" {% endif %}>
                            <a href="{{ path('_schedule_list') }}">
                                <i class="hidden-sm hidden-xs pe-7s-clock"></i>
                                {% trans %}Schedules{% endtrans %}
                            </a>
                        </li>
                        <li {% if app.request.get('_route') starts with '_channel_groups' %} class="active" {% endif %}>
                            <a href="{{ path('_channel_groups_list') }}">
                                <i class="hidden-sm hidden-xs pe-7s-keypad"></i>
                                {% trans %}Channel groups{% endtrans %}
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown account-dropdown">
                    <a class="dropdown-toggle"
                            data-toggle="dropdown">
                        <i class="hidden-sm hidden-xs pe-7s-user"></i>
                        {% trans %}Account{% endtrans %}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('_account_view') }}"
                                    class="my-account">
                                <span class="username">{{ app.user.email }}</span>
                                {% trans %}Go to your account{% endtrans %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="flags">
                            {% for lng in ['en', 'pl', 'ru', 'de'] %}
                                <a {% if app.request.locale == lng %}class="active"{% endif %}
                                        href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang={{ lng }}">
                                    <img src={{ asset('assets/img/flags/' ~ lng ~ '.svg') }}>
                                </a>
                            {% endfor %}
                        </li>
                        <li class="flags">
                            {% for lng in ['it', 'pt', 'es', 'fr'] %}
                                <a {% if app.request.locale == lng %}class="active"{% endif %}
                                        href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}?lang={{ lng }}"><img src={{ asset('assets/img/flags/' ~ lng ~ '.svg') }}></a>
                            {% endfor %}
                        </li>
                        <li class="divider"></li>
                        <li class="bottom">
                            <div class="btn-group btn-group-justified">
                                <a href="{{ path('_api_settings') }}"
                                        class="btn btn-default">{% trans %}RESTful API{% endtrans %}</a>
                                <a class="btn btn-default"
                                        id="logout"
                                        href="{{ logout_url() }}">{% trans %}Sign Out{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    $("nav a:not(.dropdown-toggle)").click(function () {
        $('.main-content').fadeOut(300);
    });
</script>
