<nav class="navbar navbar-default navbar-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button"
                    class="navbar-toggle collapsed"
                    data-toggle="collapse"
                    data-target="#supla-navbar"
                    aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"
                    href="#">
                {{ include('@Supla/supla-logo-svg.html.twig') }}
                supla
            </a>
        </div>

        <div class="collapse navbar-collapse"
                id="supla-navbar">
            <ul class="nav navbar-nav">
                <li {% if app.request.get('_route') == '_iodev_list' or app.request.get('_route') == '_iodev_item' or app.request.get('_route') == '_iodev_channel_item_edit' %} class="active" {% endif %}>
                    <a href="{{ path('_iodev_list') }}">
                        <i class="hidden-sm hidden-xs pe-7s-plug"></i>
                        {% trans %}I/O Devices{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') == '_client_apps_list' or app.request.get('_route') == '_client_apps_list' %} class="active" {% endif %}>
                    <a href="{{ path('_client_apps_list') }}">
                        <i class="hidden-sm hidden-xs pe-7s-phone"></i>
                        {% trans %}Smartphones{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') == '_loc_list' %} class="active" {% endif %}>
                    <a href="{{ path('_loc_list') }}"><i class="hidden-sm hidden-xs pe-7s-home"></i>{% trans %}Locations{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') == '_aid_list' %} class="active" {% endif %}>
                    <a href="{{ path('_aid_list') }}">
                        <i class="hidden-sm hidden-xs pe-7s-key"></i>
                        {% trans %}Access Identifiers{% endtrans %}
                    </a>
                </li>
                <li {% if app.request.get('_route') starts with '_schedule' %} class="active" {% endif %}>
                    <a href="{{ path('_schedule_list') }}">
                        <i class="hidden-sm hidden-xs pe-7s-clock"></i>
                        {% trans %}Schedules{% endtrans %}
                    </a>
                </li>
                <li class="dropdown account-dropdown">
                    <a class="dropdown-toggle"
                            data-toggle="dropdown"><i class="hidden-sm hidden-xs pe-7s-user"></i>{% trans %}Account{% endtrans %}
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{ path('_account_view') }}"
                                    class="my-account">
                                <span class="username">{{ app.user.email }}</span>
                                {% trans %}Go to your account{% endtrans %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li class="flags">
                            {% for lng in ['en', 'pl', 'ru', 'de'] %}
                                <a {% if app.request.locale == lng %}class="active"{% endif %}
                                        onclick="switchToLanguage('{{ lng }}')"><img src={{ asset('assets/img/flags/' ~ lng ~ '.svg') }}></a>
                            {% endfor %}
                        </li>
                        <li class="flags">
                            {% for lng in ['it', 'pt', 'es', 'fr'] %}
                                <a {% if app.request.locale == lng %}class="active"{% endif %}
                                        onclick="switchToLanguage('{{ lng }}')"><img src={{ asset('assets/img/flags/' ~ lng ~ '.svg') }}></a>
                            {% endfor %}
                        </li>
                        <li class="divider"></li>
                        <li class="bottom">
                            <div class="btn-group btn-group-justified">
                                <a href="{{ path('_api_settings') }}"
                                        class="btn btn-default">{% trans %}RESTful API{% endtrans %}</a>
                                <a class="btn btn-default"
                                        href="{{ path('_auth_logout') }}">{% trans %}Sign Out{% endtrans %}</a>
                            </div>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script>
    function switchToLanguage(lng) {
        $.ajax({type: "POST", url: '/ajax/lngset/' + lng})
            .done(function () {
                window.location.reload();
            });
    }

    $("nav a:not(.dropdown-toggle)").click(function () {
        $('.main-content').fadeOut(300);
    });
</script>
