{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

	{% if error %}
        <div class="error">{{ error.message|trans({},'messages') }}</div>
    {% endif %}
	
	<div class="logon-screen">
		<div id="formContainer">
		<form action="{{ path("_auth_login_check") }}" method="post" id="login">
		<a href="#" id="flipToRecover" class="flipLink">?</a>
		<input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="E-mail"/><br>
		<input type="password" id="password" name="_password" placeholder="{% trans %}Password{% endtrans %}"/>
		<button type="submit" class="btn btn-default">
				<span class="border-l">
					<span class="border-r">
						<span class="btn-bg">{% trans %}Sign In{% endtrans %}</span>
					</span>
				</span>
			</button>
		</form>
		<form id="recover" method="post" action="./">
		<a href="#" id="flipToLogin" class="flipLink">Forgot?</a>
		<input type="text" id="recovery" placeholder="Your E-mail?"/>
		<input type="submit" name="submit" value="Recover" />
		</form>
		</div>
	</div>
	
	<div id="particles-js"></div>

<script src="{{ asset('assets/js/particles.js') }}"></script>
<script src="{{ asset('assets/js/app.js') }}"></script>


{% endblock %}



