{% extends 'SuplaBundle::vue-template.html.twig' %}

{% block vue %}
    <error-page header="Invalid direct link parameters"
            message="This direct link requires some parameters in order to be executed properly. See the examples below to get an idea what you might do."
            icon="pe-7s-edit">
        <div style="font-size: 1.3em">
            {% if action.name == 'REVEAL_PARTIALLY' %}
                <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?percentage=40</code></div>
                <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?percentage=60</code></div>
            {% elseif action.name == 'SET_RGBW_PARAMETERS' %}
                {% if directLink.subject.function.name in ['DIMMER', 'DIMMERANDRGBLIGHTING'] %}
                    <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?brightness=40</code></div>
                    <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?brightness=100</code></div>
                {% endif %}
                {% if directLink.subject.function.name in ['RGBLIGHTING', 'DIMMERANDRGBLIGHTING'] %}
                    <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?color=0xFF6600</code></div>
                    <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?color_brightness=40&color=16711935</code></div>
                    <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?color_brightness=60&color=0x00FF00</code></div>
                    <div><code>{{ app.request.schemeAndHttpHost }}{{ app.request.pathinfo }}?color=random</code></div>
                {% endif %}
            {% endif %}
        </div>
    </error-page>
{% endblock %}
