{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div id="slides">
  <ul class="slides-container">
    <li>
      <img src="{{ asset('assets/img/1.svg') }}" alt="">
      <div class="container">
	  		<div class="info-wrapper">
				<article>
      	   		 	<h1>{% trans %}Develop your own building automation{% endtrans %}</h1>
					<p>{% trans %}Based on available electronics, SUPLA enables you to build simple modules to navigate and operate building automation elements. Through SUPLA you can, among others, control the lighting, switch on and off household appliances and media, open and shut gates and doors, or control room temperature. All the above can be done with just touch of a finger.{% endtrans %}</p>
				</article>
			</div>
      </div>
    </li>
    <li>
      <img src="{{ asset('assets/img/2.svg') }}" alt="">
      <div class="container">
      		<div class="info-wrapper">
      	    	<article>
      	   		 	<h1>{% trans %}SUPLA everywhere!{% endtrans %}</h1>
					<p>{% trans %}One of the main assumptions of this project is simplicity and availability. SUPLA allows simple light operation or gate opening, when you want to leave your premises, with just touch of a finger. SUPLA is available from any place on Earth if you just have a smartphone or tables available as well as Internet access.  SUPLA is developed based on an Open Software and Hardware. This way, you can also develop this project!.{% endtrans %}</p>
				</article>
			</div>
      </div>
    </li>
    <li>
      <img src="{{ asset('assets/img/3.svg') }}" alt="">
      <div class="container">
      		<div class="info-wrapper">
      	    	<article>
      	   		 	<h1>{% trans %}Free of charge and open!{% endtrans %}</h1>
					<p>{% trans %}Building automation systems available on the market are usually very complex, closed and expensive. In many cases they must be installed on the very early stages of house construction.  SUPLA is simple, open and free of charge. It gives an opportunity to build elements based on RaspberryPI, Arduino or ESP8266 platforms and then join them either through LAN or WiFi. Join the project and build your own version of building automation system!{% endtrans %}</p>
				</article>
			</div>
      </div>
    </li>
  </ul>
  <nav class="slides-navigation">
    <a href="#" class="next"><i class="pe-7s-angle-right-circle"></i></a>
    <a href="#" class="prev"><i class="pe-7s-angle-left-circle"></i></a>
  </nav>
</div>

<div class="create-form">
	<div class="wrapper">
		<h1>{% trans %}Create an account{% endtrans %}</h1>
		{{ form_start(form_ca) }}                        
					{{ form_widget(form_ca.user.email, {'attr': {'placeholder': 'Enter your email address'} }) }}
					{{ form_errors(form_ca.user.email) }}
					
					{{ form_widget(form_ca.user.plainPassword|first, { 'attr': {'placeholder': 'Enter strong password'} }) }}
					{{ form_errors(form_ca.user.plainPassword|first) }}
					
					{{ form_widget(form_ca.user.plainPassword|last, { 'attr': {'placeholder': 'Repeat password'} }) }}
					{{ form_errors(form_ca.user.plainPassword|last) }}

					<div class="recaptcha">
					{{ form_widget(form_ca.recaptcha)  }}
					{{ form_errors(form_ca.recaptcha) }}
					</div>
		{{ form_end(form_ca) }}
	</div>
</div>


<footer class="animated">
	<div class="row">
		<div class="col-xs-4 text-left">
			<label>
				<select id="lngSelector">
				    <option {% if locale == 'en' %}selected{% endif %} value="en">English</option>
					<option {% if locale == 'pl' %}selected{% endif %} value="pl">Polski</option>
					<option {% if locale == 'ru' %}selected{% endif %} value="ru">Русский</option>
					<option {% if locale == 'de' %}selected{% endif %} value="de">Deutsch</option>
				</select>
			</label>
			</div>
			<div class="col-xs-4 text-center">
				<a class="brand nav-link" href="https://www.supla.org">www.supla.org</a>
			</div>
			<div class="col-xs-4 text-right">
				<a href="{{ path("_auth_login") }}" class="nav-link">{% trans %}Sign In{% endtrans %}</a></li>
			</div>
	</div>
</footer>


<script src="{{ asset('assets/js/jquery.superslides.js') }}" type="text/javascript" charset="utf-8"></script>
  <script>
    $('#slides').superslides({
      animation: 'fade',
	  play: 12500,
	  pagination: false,
    });
  </script>
{% endblock %}