<div class="loc-accessids">
    
     {{ form_start(form) }}

    <div class="loc-accessids">
	<div class="row">
	{% if aids|length %}
		{% for aid in aids %}
			<label class="col-xs-4" data-id="{{ aid.id }}">
			<input type="checkbox" name="aid[{{ aid.id }}]" value="1" {% if aid in selected %}checked{% endif %}>
			<div class="item {% if aid.enabled == true %} enabled {% else %} disabled {% endif %}">
			<span class="id">ID<strong>{{ aid.id }}</strong></span>
			<div class="details-wrapper">
			 Caption<br />
			 <strong>{{ aid.caption }}</strong><br />
			 Password<br />
			 <strong>{{ aid.password }}</strong>
			 </div>
			</div>
			</label>
		{% endfor %}
	{% else %}
	<div class="attention">
		<i class="pe-7s-attention"></i>
		<h2>No Access Identifiers</h2>
		<p>There are no Access Identifiers which You can assign with this<br /> Location. Go to <a class="nav-link" href="{{ path('_aid_list') }}">Access Identifiers</a> and create some.</p>
	</div>
	{% endif %}
	</div>


	    </div>
    <div class="overlay-controls">
    {{ form_widget(form) }}
    </div>
    {{ form_end(form) }}         
 </div>