{% extends 'SuplaBundle::layout.html.twig' %}

{% block content %}
<div class="container full-height">
	<div class="row full-height">
	
	
	
	<div class="device-list">
			<a class="device nav-link {% if channel.iodevice.enabled %}enabled{% else %}disabled{% endif %}   " id="deviceitem" href="{{ path('_iodev_item', {'id': channel.iodevice.id}) }}">
				<h3 class="name">{{ channel.iodevice.name }}</h3>
				<span class="guid">{{ channel.iodevice.guidstring }}</span><br />
				<span class="software">{% trans %}SoftVer{% endtrans %} <strong>{{ channel.iodevice.softwareversion }}</strong></span><br />
				<span class="location">{% trans %}Location{% endtrans %} <strong>ID{{ channel.iodevice.location.id }} {{ channel.iodevice.location.caption }}</strong></span><br />
				{% if channel.iodevice.comment|default %}<div class="comment">{{ channel.iodevice.comment }}</div>{% endif %}
				<div class="iodev_connection_state status" data-id="{{ channel.iodevice.id }}"><span class="unknown">{% trans %}unknown{% endtrans %}</span></div>
			</a>
			<a class="nav-link devices-link   " href="{{ path('_iodev_list') }}"> {% trans %}All Your I/O Devices{% endtrans %}</a><br />
		</div>
		
		
		<div class="infobar">
		<div class="channel-details">
		<h1>
		    {% trans %}Channel properties{% endtrans %}
		</h1>
		
		{% if show_sensorstate == true %}
			<div class="sensor_state " data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="sensor_state"><div id="sensor_state_value" class="open    fadeIn"></div></div>
		{% endif %}
				<div class="detail-item"><span>{% trans %}Channel No{% endtrans %}</span> <strong>{{ channel.channelnumber }}</strong></div>
				<div class="detail-item"><span>{% trans %}Type{% endtrans %}</span> <strong>{{ channel_type }}</strong></div>
				{{ form_start(form) }}
				{% if channel.schedules.count > 0 %}
				<div class="alert alert-warning" style="margin: 5px 0">
					<strong>{{ 'Existing schedules'|trans }}.</strong>
					{% trans %}If you change the function of the channel, the following schedules will be removed{% endtrans %}:
					<ul>
						{% for schedule in channel.schedules %}
						<li>
							<a href="{{ path('_schedule_details', {'schedule': schedule.id}) }}">
								{{ 'Schedule'|trans }} ID{{ schedule.id }}
								<span class="small">{{ schedule.caption }}</span>
							</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				{% endif %}
				{{ form_row(form.channel)  }}
				{{ form_row(form.caption)  }}
				
				{% if ( channel.function == '40' or channel.function == '42' or channel.function == '45' ) %}
					<a href="{{ path('_iodev_channel_item_csv', {'devid': channel.iodevice.id, 'id': channel.id}) }}" class="btn btn-default btn-temp">{% trans %}Download the history of measurement{% endtrans %}</a>
				{% endif %}
				
				<div class="buttons">
				{{ form_row(form.cancel)  }}
				{{ form_row(form.save)  }}
				</div>
				{{ form_end(form) }}
			</div>
			
		</div>
		
		<div class="pictogram">
		
		    <div id="pictogram_group">
			<div id="pictogram_no-function" class="no-function" {% if channel.function != '0' %}style="display:none"{% endif %}>
				<i class="pe-7s-close-circle"></i>
				<h2>{% trans %}No function{% endtrans %}</h2>
				<span>{% trans %}Please select function for this channel{% endtrans %}</span>
			</div>
			
			<div id="pictogram_temperature" class="temperature" {% if channel.function != '40' %}style="display:none"{% endif %}>
			
				{% if (show_temperature == true or show_temphumidity == true) %}
					<div class="thermometer_state" data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="thermometer_state"><div id="temperature_value"></div>&deg;C</div>
				{% endif %} 
				
				<div class="line"></div>
				<div class="bottom"></div>
				<img src={{ asset('assets/img/functions/40_b.svg') }}>
			</div>
	
			<div id="pictogram_humidity" class="humidity" {% if channel.function != '42' %}style="display:none"{% endif %}>
			
				{% if show_temphumidity == true %}
					<div class="humidity_state" data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="humidity_state"><div id="humidity_value"></div>&#37;</div>
				{% endif %} 
				
				<img src={{ asset('assets/img/functions/42.svg') }}>
			</div>
			
			<div id="pictogram_temphumidity" class="temphumidity" {% if channel.function != '45' %}style="display:none"{% endif %}>
			
				{% if show_temphumidity == true %}
					<div class="thermometer_state" data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="thermometer_state"><div id="temperature_value"></div>&deg;C</div>
					<div class="humidity_state" data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="humidity_state"><div id="humidity_value"></div>&#37;</div>
				{% endif %} 
				
				<img src={{ asset('assets/img/functions/45.svg') }}>
			</div>
				
			<div id="pictogram_depth_sensor" class="depth_sensor" {% if channel.function != '210' %}style="display:none"{% endif %}>
		
				{% if (show_distance == true) %}
					<div class="depth_state" data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="depth_state"><div id="depth_value"></div></div>
				{% endif %} 
				
				<img src={{ asset('assets/img/functions/210.svg') }}>
			</div>
			
			<div id="pictogram_distance_sensor" class="distance_sensor" {% if channel.function != '220' %}style="display:none"{% endif %}>
		
				{% if (show_distance == true) %}
					<div class="distance_state" data-iodevid="{{ channel.iodevice.id }}" data-id="{{ channel.id }}" id="distance_state"><div id="distance_value"></div></div>
				{% endif %} 
				
				<img src={{ asset('assets/img/functions/220.svg') }}>
			</div>
			
			<div id="pictogram_standard" class="standard-function-icon" {% if (channel.function == '0' or channel.function == '40' or channel.function == '42' or channel.function == '45' or channel.function == '210' or channel.function == '220') %}style="display:none"{% endif %}>
				<img src={{ asset('assets/img/functions/') }}{{ channel.function }}.svg>
			</div>
			</div>

		</div>
	
		
	
	</div>
</div>
{% endblock %}
