{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.8/vue.min.js"></script>
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">
                    {% trans %}Create New Schedule{% endtrans %}
                </h1>
            </div>
        </div>
        <div class="progress" id="new-schedule-form-loading">
            <div class="progress-bar progress-bar-info progress-bar-striped active"
                 style="width: 100%">
            </div>
        </div>
        <div class="row margin-top-20" id="new-schedule-form" style="display: none">
            <div class="col-xs-12">
                <div class="form-group">
                    <label>{% trans %}Name{% endtrans %}</label>
                    <input type="text" class="form-control" required v-model="scheduleName">
                </div>
                <div class="form-group">
                    <label>{% trans %}Tryb harmonogramu{% endtrans %}</label>
                    <div class="clearfix"></div>
                    <div class="btn-group btn-group-lg">
                        {% for mode, label in scheduleModes %}
                            <button class="btn btn-default"
                                    @click="chooseMode('{{ mode }}')"
                                    v-bind:class="{'active btn-success': scheduleMode == '{{ mode }}'}">
                                {{ label }}
                            </button>
                        {% endfor %}
                    </div>
                </div>
                <div class="row" v-show="scheduleMode">
                    <div class="col-md-6">
                        <div class="well">
                            <h3 class="no-margin-top">Kiedy?</h3>
                            <div class="form-group">
                                {% for mode, label in scheduleModes %}
                                    <div v-show="scheduleMode == '{{ mode }}'">
                                        {{ include("AppBundle:Schedule:modes/new-schedule-mode-#{mode}.html.twig") }}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="progress" v-if="calculatingNextRunDates">
                                <div class="progress-bar progress-bar-info progress-bar-striped active"
                                     style="width: 100%">
                                    obliczam najbliższe wykonania...
                                </div>
                            </div>
                            <div class="forum-group" v-if="nextRunDates.length > 0"
                                 v-bind:class="{opacity60: calculatingNextRunDates}">
                                <h4>Najbliższe wykonania</h4>
                                <div class="list-group">
                                    <div class="list-group-item" v-for="nextRunDate in nextRunDates">
                                        <span class="pull-right small text-muted">
                                            ${nextRunDate.fromNow}
                                        </span>
                                        ${nextRunDate.date}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="well">
                            <h3 class="no-margin-top">Akcja do wykonania</h3>
                            <div class="form-group">
                                <label>Podmiot</label>
                                <select class="selectpicker form-control" data-live-search="true"
                                        data-live-search-placeholder="Filtruj" v-model="channel"
                                        @change="action = actionParam = undefined">
                                    <option disabled selected value> -- wybierz kanał --</option>
                                    {% for channel in userChannels %}
                                        <option value="{{ channel.id }}"
                                                title="{{ channel.caption ?: channel.function|channelFunctionToString }} ({{ channel.ioDevice.location.caption }} / {{ channel.ioDevice.name }})"
                                                data-content="<img class='pull-right' height=60 src='{{ asset('assets/img/functions/') }}{{ channel.function }}.svg'><h4>{{ channel.caption ? channel.caption ~ " <span class='small text-muted'>(#{channel.function|channelFunctionToString})</span>" : (channel.function|channelFunctionToString) }}</h4><p>{{ channel.ioDevice.location.caption }} / {{ channel.ioDevice.name }}</p>">
                                            {{ channel.caption }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div v-show="channel">
                                <table class="table">
                                    {% for action, actionLabel in actionStringMap %}
                                        <div v-show="channelFunctionMap[channel] && channelFunctionMap[channel].indexOf({{ action }}) >= 0">
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="{{ action }}" v-model="action" @change="actionParam = undefined">
                                                    {{ actionLabel|trans }}
                                                </label>
                                            </div>
                                            {% if action == 70 %}{# dim #}
                                                <span class="input-group" v-show="action == {{ action }}">
                                                    <input type="number" min="0" max="100" step="5" class="form-control"
                                                           maxlength="3" v-model="actionParam">
                                                    <span class="input-group-addon">%</span>
                                                </span>
                                            {% elseif action == 80 %}{# rgb #}
                                                <div v-show="action == {{ action }}">
                                                    <input type="text" class="colorpicker">
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="text-right">
                                <button class="btn btn-success btn-lg"
                                        v-bind:disabled="action == undefined || !nextRunDates.length || submitting"
                                        @click="submit()">
                                    <i class="pe-7s-plus"></i>
                                    Dodaj
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css"/>
    <style type="text/css">
        .timepicker-picker {
            font-size: 3em;
        }

        .bootstrap-select li.active a {
            background: #A0FFA0 !important;
            color: inherit !important;
        }

        .sp-picker-container .sp-color {
            display: none;
        }

        .sp-picker-container .sp-hue {
            left: 0;
        }
    </style>
{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clockpicker/0.0.7/bootstrap-clockpicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pl.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
    <script>
        var BASE_URL = '{{ path('_homepage') }}';
        var LOCALE = '{{ app.request.locale }}';
        moment.locale(LOCALE);
        var CHANNEL_FUNCTION_MAP = {{ (channelToFunctionsMap|json_encode|raw) }};
    </script>
    <script src="{{ asset('assets/js/new-schedule-form.js') }}"></script>
{% endblock %}
