{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
    <div class="container margin-top-30">
        <div class="row">
            <div class="col-xs-12">
                <h1 class="title">
                    {% trans %}Schedule{% endtrans %} ID{{ schedule.id }}
                </h1>
                <div class="row">
                    <div class="col-md-6">
                        <img class='pull-right' height="120"
                             src='{{ asset('assets/img/functions/') }}{{ schedule.channel.function }}.svg'>
                        <h4>{{ 'Action'|trans }}</h4>
                        {{ schedule.action|functionActionToString }}

                        <h4>{{ 'Subject'|trans }}</h4>

                        {{ schedule.channel.caption ? schedule.channel.caption : schedule.channel.function|channelFunctionToString }}

                        <h4>{{ 'Location'|trans }}</h4>
                        {{ schedule.channel.iodevice.location.caption }}

                        <h4>{{ 'Mode'|trans }}</h4>
                        {{ schedule.mode|trans|capitalize }}
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <form action="" method="post">
                                <div class="btn-group">
                                    {% if schedule.enabled %}
                                        <button class="btn btn-default" name="disable">
                                            {% trans %}Disable{% endtrans %}
                                        </button>
                                    {% else %}
                                        <button class="btn btn-success" name="enable">
                                            {% trans %}Enable{% endtrans %}
                                        </button>
                                        <button class="btn btn-danger" name="delete">
                                            {% trans %}Delete{% endtrans %}
                                        </button>
                                    {% endif %}
                                </div>
                            </form>
                        </div>
                        {% if schedule.enabled %}
                            <h3 class="text-center">{{ 'Executions'|trans }}</h3>
                            <ul class="schedule-times">
                                {% for execution in closestExecutions['past'] %}
                                    <li class="past past{{ closestExecutions['past']|length - loop.index }} {{ execution.failed ? 'failed' : '' }}">
                                        {{ execution.timestamp|localizeddate('full', 'medium', app.request.locale, app.user.timezone ) }}
                                        {% if execution.failed %}
                                            <div class="small">
                                                {{ execution.result | actionExecutionResultToString }}
                                            </div>
                                        {% endif %}
                                    </li>
                                {% endfor %}
                                {% for execution in closestExecutions['future'] %}
                                    <li class="future future{{ loop.index }}">{{ execution.timestamp|localizeddate('full', 'medium', app.request.locale, app.user.timezone ) }}</li>
                                {% endfor %}
                            </ul>
                        {% else %}
                            <h3>{% trans %}No executions - schedule disabled{% endtrans %}</h3>
                        {% endif %}
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock %}
{% block styles %}
    <style type="text/css">
        .schedule-times {
            list-style-type: none;
            padding: 0;
            text-align: center;
            font-size: 1.2em;
        }

        .schedule-times li {
            margin-bottom: 5px;
        }

        .schedule-times .past2 {
            opacity: .6;
            font-size: 0.8em;
        }

        .schedule-times .past1 {
            opacity: .8;
            font-size: 0.9em;
        }

        .schedule-times .past0 {
            opacity: .9;
            font-size: 1em;
        }

        .schedule-times .past {
            color: darkgreen;
        }

        .schedule-times .failed {
            color: #F00;
        }

        .schedule-times .future1 {
            opacity: 1;
            font-size: 1.1em;
            font-weight: bold;
        }

        .schedule-times .future2 {
            opacity: .9;
            font-size: 1em;
        }

        .schedule-times .future3 {
            opacity: .8;
            font-size: .9em;
        }

        .schedule-times .future4 {
            opacity: .6;
            font-size: .8em;
        }
    </style>
{% endblock %}
