   <table class="channeltable table table-hover">
     <thead>
        <tr>
          <th>{% trans %}Number{% endtrans %}</th>
          <th>{% trans %}I/O{% endtrans %}</th>
          <th>{% trans %}Type{% endtrans %}</th>
          <th>{% trans %}Function{% endtrans %}</th>
          <th>{% trans %}Caption{% endtrans %}</th>
        </tr>
     </thread>
     <tbody>
     
     {% for  channel in channels %}
       <tr>
         <th scope="row"><a href="{{ path('_iodev_channel_item_edit', {'devid': iodevice.id, 'id': channel.id}) }}">{{ channel.number }}</a></th>
         <td><a href="{{ path('_iodev_channel_item_edit', {'devid': iodevice.id, 'id': channel.id}) }}">{{ channel.io }}</a></td>
         <td><a href="{{ path('_iodev_channel_item_edit', {'devid': iodevice.id, 'id': channel.id}) }}">{{ channel.type }}</a></td>
         <td><a href="{{ path('_iodev_channel_item_edit', {'devid': iodevice.id, 'id': channel.id}) }}">{{ channel.function }}</a></td>
         <td>{{ channel.caption }}</td>
       </tr>
      
     {% endfor %}
     
     </tbody>

   </table>