{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="container">
    <h1 class="title">{% trans %}Channel{% endtrans %}</h1>

    <h5>{% trans %}Channel number{% endtrans %}: {{ channel.channelnumber }}</h5>
    <h5>{% trans %}Device GUID{% endtrans %}: <a href="{{ path('_iodev_item', {'id': channel.iodevice.id}) }}">{{ channel.iodevice.guidstring }}</a></h5>
    <h5>{% trans %}Device name{% endtrans %}: <a href="{{ path('_iodev_item', {'id': channel.iodevice.id}) }}">{{ channel.iodevice.name }}</a></h5>
    <h5>{% trans %}Type{% endtrans %}: {{ channel_type }}</h5>
    {% if show_sensorstate == true %}
    <div class="sensor_state" data-id="{{ channel.id }}" id="sensor_state">{% trans %}Current sensor state{% endtrans %}: <div id="sensor_state_value"></div></div>
    {% endif %}
    {% if show_temperature == true %}
    <div class="thermometer_state" data-id="{{ channel.id }}" id="thermometer_state">{% trans %}Current temperature{% endtrans %}: <div id="temperature_value"></div></div>
    {% endif %} 
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
</div>    
{% endblock %}