   <table class="iodevicetable table table-hover">
     <thead>
        <tr>
          <th>{% trans %}No.{% endtrans %}</th>
          <th>{% trans %}GUID{% endtrans %}</th>
          <th>{% trans %}Name{% endtrans %}</th>
          {% if show_location is defined %}
          <th>{% trans %}Location{% endtrans %}</th>
          {% endif %}
          <th>{% trans %}Enabled{% endtrans %}</th>
          <th>{% trans %}SoftVer{% endtrans %}</th>
          <th>{% trans %}Connected{% endtrans %}</th>
          <th>{% trans %}Comment{% endtrans %}</th>
        </tr>
     </thread>
     <tbody>
     
     {% for dev in iodevices %}
       <tr>
         <th>{{ loop.index0+1 }}.</th>
         <td scope="row"><a href="{{ path('_iodev_item', {'id': dev.id}) }}">{{ dev.guidstring }}</a></td>
         <td><a href="{{ path('_iodev_item', {'id': dev.id}) }}">{{ dev.name }}</a></td>
         {% if show_location is defined %}
          <td>{{ dev.location.caption }}</td>
         {% endif %}
         <td><span class="glyphicon glyphicon-off" style="color:{% if dev.enabled %}green{% else %}red{% endif %}"></span></td>
         <td>{{ dev.softwareversion }}</td>
         <td><div class="iodev_connection_state" data-id="{{ dev.id }}"><span class="unknown">unknown</span></div></td>
         <td>{{ dev.comment }}</td>
       </tr>
      
     {% endfor %}
     
     </tbody>

   </table>