{% extends 'AppBundle::layout.html.twig' %}

{% block content %}
<div class="device-wrapper" id="iodevice-detail" data-id="{{iodevice.id}}" data-item-path="{{ path('_iodev_item', {'id': iodevice.id}) }}">
	<div class="container">
		<div class="supla-route">
			<div id="dot1" class="dot1 {%if iodevice.enabled == false%} red {% endif %}" data-id="{{ iodevice.id }}">
			</div>
			<div class="dot2 {% if iodevice.location.enabled == false %} red {% endif %}">
			</div>
			<div class="dot3 {% if aid_enabled == false %} red {% endif %}">
			</div>
		</div>
		<div class="supla-route-info">
			<div class="device">
				<h3>Device</h3>
				<div class="device-info">
					<ul class="list-unstyled">
						<li><strong>{{ iodevice.name }}</strong></li>
						<li>{% trans %}GUID{% endtrans %} <strong>{{ iodevice.guidstring }}</strong></li>
						<li>{% trans %}Registred{% endtrans %} <strong>{{ iodevice.regdate|date("d.m.Y H:m") }}</strong></li>
						<li>{% trans %}Last connected{% endtrans %} <strong>{{ iodevice.lastconnected|date("d.m.Y H:m") }}</strong></li>
						<li><div class="miniform">
						<textarea id="comment_value" rows="2" cols="27" placeholder="{% trans %}Comment{% endtrans %}">{{iodevice.comment}}</textarea><button id="comment-save" data-preloader="set-comment-pl" class="btn btn-textarea"><br />&nbsp;&nbsp;&nbsp;SAVE&nbsp;&nbsp;&nbsp;</button>
						<div class="btn btn-load btn-big" id="set-comment-pl" style="display: none;"><div id="circleG"><div id="circleG_1" class="circleG"></div><div id="circleG_2" class="circleG"></div><div id="circleG_3" class="circleG"></div></div></div>
						</div></li>
					</ul>
					
					<br />
				<div data-preloader="set-enabled-pl" class="btn btn-default btn-enable" {%if iodevice.enabled == false%}style="display: none;"{%endif%}><strong>{% trans %}ENABLED{% endtrans %}</strong><br >{% trans %}CLICK TO DISABLE{% endtrans %}</div>
				<div data-preloader="set-enabled-pl" class="btn btn-default btn-disable" {%if iodevice.enabled == true%}style="display: none;"{%endif%}><strong>{% trans %}DISABLED{% endtrans %}</strong><br >{% trans %}CLICK TO ENABLE{% endtrans %}</div> 
				<div class="btn btn-load btn-big" id="set-enabled-pl" style="display: none;"><div id="circleG"><div id="circleG_1" class="circleG"></div><div id="circleG_2" class="circleG"></div><div id="circleG_3" class="circleG"></div></div></div>
						
					<div class="iodev_connection_state" data-id="{{ iodevice.id }}"><span class="unknown">unknown</span></div>
					<a class="btn btn-default btn-trash" href="#" id="overlay-delete">DELETE</a>
				</div>
			</div>
			<div class="location">
				<h3>Location</h3>
				<div class="location-info">
					<a href="{{ path('_loc_item', {'id': iodevice.location.id}) }}" class="item  {% if iodevice.location.enabled %}enable{% else %}disabled{% endif %}">
					<span class="aid">ID<strong>{{ iodevice.location.id }}</strong></span> <br />
					<span class="acaption">Caption<br />
					<strong><span class="caption_value">{{ iodevice.location.caption }}</span></strong><br />
					<span class="apassword">Password<br />
					<strong><span class="password_value">{{ iodevice.location.password }}</span></strong><br />
					{% if iodevice.location.enabled %}<span class="status">ENABLED</span>{% else %}<span class="status disable">DISABLED</span>{% endif %}
					</a>
				</div>
			</div>
			<div class="accessid">
				<h3>Access Identifier</h3>
					<ul class="aid">
					  {% for aid in iodevice.location.accessIds %}
						 <li><a class="supla-tooltip {%if aid.enabled == false%}disabled{% endif %}" title="
						 	&lt;a class&#61;&quot;details {%if aid.enabled == true%}enabled{% else %}disabled{% endif %}&quot; href&#61;&quot;{{ path('_aid_item', {'id': aid.id}) }}&quot;&gt;
							&lt;span class&#61;&quot;id&quot;&gt;ID&lt;strong&gt;{{ aid.id }}&lt;/strong&gt;  &lt;/span&gt; &lt;br/ &gt;
							&lt;div class&#61;&quot;details-wrapper&quot;&gt; Caption &lt;br/ &gt;
							&lt;strong&gt;{{ aid.caption }}&lt;/strong&gt;&lt;br/ &gt;
							Password &lt;br/ &gt;
							&lt;strong&gt;{{ aid.password }}&lt;/strong&gt;&lt;/div&gt;
							
							&lt;br/ &gt;
							
							&lt;span class&#61;&quot;status&quot;&gt;{%if aid.enabled == true%}enabled{% else %}disabled{% endif %}&lt;/span&gt;
							&lt;/a&gt;
							" href="{{ path('_aid_item', {'id': aid.id}) }}">ID<strong>{{ aid.id }}</strong> {{ aid.caption }}</a></li>
					  {% endfor %}
				    </ul>
			</div>
		</div>
	</div>
</div>


<div class="container">
<h1>{% trans %}Channels{% endtrans %} <input id="livefilter-input" class="pull-right" type="text" placeholder="Search"></h1> 
</div>

   <div class="scroll_list_wrapper channel_list">
		<ul class="scroll_list owl-carousel">
			{% for  channel in channels %}
			   <a class="item" href="{{ path('_iodev_channel_item_edit', {'devid': iodevice.id, 'id': channel.id}) }}">
				 <span class="no"><strong>{{ channel.number }}</strong> {{channel.io}}</span>
				 <div class="details-wrapper">
				 Type<br />
				 <strong>{{ channel.type }}</strong><br />
				 Function<br />
				 <strong>{{ channel.function }}</strong><br />
				 {% if channel.caption is not empty %} Caption<br />
				 <strong>{{ channel.caption }}</strong>{% endif %}</div>
			   </a>
			 {% endfor %}
		</ul>
	</div>
</div>

<div class="overlay-delete overlay-data">
	<div class="dialog">
		<h1>Are You sure?</h1>
		<p>Please confirm removal of <strong>{{ iodevice.name }}</strong>. You will be no longer able to use this device with SUPLA.</p>
		<div class="controls">
			<a href="#" class="overlay-delete-close cancel">CANCEL</a>
			<a href="{{ path('_iodev_item_delete', {'id': iodevice.id}) }}" class="save"><i class="pe-7s-check"></i></a></div>
		</div>
	</form>
</div>

     

<script src="{{ asset('assets/js/details.js') }}"></script>
<script>
    $(document).ready(function() {
     
      $("#owl-example").owlCarousel();
     
    });
</script>
{% endblock %}