{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
<div class="container margin-top-30 ">
    <h1 class="title">{% trans %}I/O Devices{% endtrans %}<a href="#0" class="cd-btn"><i class="pe-7s-help1"></i></a>
		<div class="pull-right filter-container">
			<div id="filters" class="btn-group">
			  <button class="btn btn-default active" data-filter="">All</button>
			  <button class="btn btn-default" data-filter=".disabled">Disabled</button>
			  <button class="btn btn-default" data-filter=".enabled">Enabled</button>
			</div>
			
			<div id="filtersconnection" class="btn-group">
			  <button class="btn btn-default active" data-filter="">All</button>
			  <button class="btn btn-default" data-filter=".connected">Connected</button>
			  <button class="btn btn-default" data-filter=".disconnected">Disconnected</button>
			</div>
			
			<input type="text" id="quicksearch" class="pull-right" placeholder="Search" />
		</div>
	
	</h1>
</div>

<div class="devices">
{% for dev in iodevices %}
  	<a class="device nav-link {% if dev.enabled %}enabled{% else %}disabled{% endif %} " id="deviceitem" data-id="{{ dev.id }}" href="{{ path('_iodev_item', {'id': dev.id}) }}">
    <h3 class="name">{{ dev.name }}</h3>
    <span class="guid">{{ dev.guid }}</span><br />
	<span class="software">SoftVer <strong>{{ dev.softwareversion }}</strong></span><br />
	<span class="location">Location <strong>ID{{ dev.location.id }} {{ dev.location.caption }}</strong></span><br />
	{% if dev.comment|default %}<span class="comment">Comment <br />{{ dev.comment }}</span><br />{% endif %}
	<div class="iodev_connection_state status" data-id="{{ dev.id }}"><span class="unknown">unknown</span></div>
  </a>
{% endfor %}
{% if iodevices.count < 3 %}
<a class="device more" href="http://supla.org" target="_blank"><i class="pe-7s-light"></i><br /><span class="name">Lights</span><p>With supla You can controll lightening at Your home</p></a>
<a class="device more" href="http://supla.org" target="_blank"><img src={{ asset('assets/img/thermometer.svg') }}></img><br /><span class="name">Temperature</span><p>...You can controll temperature</p></a>
<a class="device more" href="http://supla.org" target="_blank"><img src={{ asset('assets/img/gate.svg') }}></img><br /><span class="name">Doors And Gates</span><p>...and even open gates or doors</p></a>
<a class="device more" href="http://supla.org" target="_blank"><img src={{ asset('assets/img/window-rollers.svg') }}></img><br /><span class="name">Window Rollers</span><p>...raised and lowered blinds</p></a>
<a class="device more" href="http://supla.org" target="_blank"><i class="pe-7s-radio"></i><br /><span class="name">Home Appliances</span><p>...or any home appliance</p></a>
<a class="device more" href="http://supla.org" target="_blank"><i class="pe-7s-smile"></i><br /><span class="name">And More</span><p>You can do all these and many more things with Your phone, tablet or web browser</p></a>
<a class="device more" href="http://supla.org" target="_blank"><i class="pe-7s-plane"></i><br /><span class="name">From Anywhere</span><p>so don't worry when You next time forget turn the lights off and get back to Your warm home in cold winter <strong>;)</strong></p></a>
{% endif %}
</div>


{% include 'AppBundle::Help/devlisthelp.html.twig' %}


{% endblock %}