<div id="channel_function_params" data-default-param1="{{default_time_val}}">
    <div class="cfp_relay_time" id="cfp_relay_time" data-paramname="param1">
       <span>{% trans %}Relay switching time{% endtrans %}</span>
       <div class="btn-group" role="group" aria-label="...">
         {% for ts in timesel %}
           <button type="button" id="relay_time_select" class="btn btn-{% if ( cinstance == true and channel.param1 == ts.val ) or ( cinstance == false and default_time_val == ts.val ) %}success{% else %}default{% endif %} btn-sm" data-val="{{ts.val}}">{{ts.name}}</button>
         {% endfor %}  
       </div>
       <span>{% trans %}sec.{% endtrans %}</span>
    </div>

    <div class="cfp_channel">
      <span>{% trans %}Open sensor{% endtrans %}</span>
    
      <div class="dropdown" id="subchannel_select" data-param_id="param2">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuChannels" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span id="subchannel_name">{{ subchannel_selected }}</span>
        <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuChannels">
           <li><a data-id="0">{% trans %}None{% endtrans %}</a></li>
           {% for sensor in channels %}
           <li><a data-id="{{ sensor.id }}">{{ sensor.name }}</a></li>
           {% endfor %}
        </ul>
     </div>
  </div>
</div>