{# src/SuplaBundle/Resources/views/Form/fields.html.twig #}
{% block channelfunction_widget %}
    {% spaceless %}
    <div class="channel_function_select">
        <div class="panel panel-default">
           <div class="panel-heading">
               <div class="dropdown" id="channel_function_select" data-channel_id="{{ channel.id }}" data-prefix="{{ id }}_">
               	   <span>{% trans %}Function{% endtrans %}</span>
                   <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                     <span id="function_name">{{ selected }}</span>
                     <span class="caret"></span>
                   </button>
               
                   <ul class="dropdown-menu function-select" aria-labelledby="dropdownMenu1">
                      {% for fnc in functions %}
                      <li><a href="#" data-id="{{ fnc.id }}">{{ fnc.name }}</a></li>
                      {% endfor %}
                   </ul>
               </div>
          </div>
          <div class="panel-body">
          {{ function_params | raw }}
          </div>
        </div>
        
        {% for child in form %}
        {{ form_widget(child) }}
        {% endfor %}
    </div>
            
    {% endspaceless %}
{% endblock %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <label>{{ error.message }}</label>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}