{% extends 'AppBundle::layout.html.twig' %}

{% block content %}

<h1 class="title">{% trans %}Home{% endtrans %}</h1>


<div class="hidder">
{% if show_base_settings == true %}
<h2>{% trans %}Base settings for your equipment{% endtrans %}</h2>
<h4>{% trans %}Server address{% endtrans %}: {{ base_server }}</h4>
<h3>{% trans %}Client devices (e.g. smartphones){% endtrans %}</h3>
<h4>{% trans %}Access identifier{% endtrans %}: {{ base_accessid }}</h4>
<h4>{% trans %}Password{% endtrans %}: {{ base_accesspwd }}</h4>
<h3>{% trans %}I/O devices (e.g. raspberry){% endtrans %}</h3>
<h4>{% trans %}Location identifier{% endtrans %}: {{ base_locid }}</h4>
<h4>{% trans %}Password{% endtrans %}: {{ base_locpwd }}</h4>
{% endif %} 
</div>
 
{% endblock %}

