{% extends 'AppBundle::layout.html.twig' %}
{% block content %}
<div class="container margin-top-30 ">
<h1 class="big animated">{% trans %}Start Here{% endtrans %}</h1>
<p class="intro animated">It's easy to get Your home connected to SUPLA. <br />
All You need to do is follow these four steps.</p>

<div class="row margin-top-70">
	<div class="computer animated">
		<div class="computer-window"><div class="title">location.txt</div><div class="body">[LOCATION]<br />ID={{ base_locid }}<br />PASSWORD={{ base_locpwd }} <br /><br />
		[SERVER] <br />host={{ base_server }}<br />
<span class="blink">|</span></div></div>
		<img src={{ asset('assets/img/computer.svg') }}>
	</div>
	<div class="phone animated">
	{% if show_base_settings == true %}
		<div class="phone-app">
			<input type="text" id="server_address" value="{{ base_server }}"><br />
			<label for="server_address">Server address</label>
			<input type="text" id="access_identifier" value="{{ base_accessid }}"><br />
			<label for="access_identifier">Access Identifier</label>
			<input type="text" id="password" value="{{ base_accesspwd }}"><br />
			<label for="password" class="password">Password</label>
			<i class="pe-7s-check"></i></div>
			<img src={{ asset('assets/img/smartphone.svg') }}>
		</div>
	{% else %}
	<div class="phone-app-error animated">
			<i class="pe-7s-attention"></i>
			<h3>Make it work</h3>
			<p>You can not connect with Your I/O Devices until You have at least one <a class="nav-link" href="{{ path('_aid_list') }}">Access Identifier</a> with assigned Location.</p>
			</div>
			<img src={{ asset('assets/img/smartphone-error.svg') }}>
		</div>
	{% endif %}
	</div>
<div class="row instruction">
	<div class="half computer-instructions">
		<h2 class="animated fadeInUp">On Your computer...</h2>
		<ol>
			<li class="animated fadeInUp">Download <a href="#">SUPLA</a></li>
			<li class="animated fadeInUp">Copy extracted files onto SD Card</li>
			<li class="animated fadeInUp">Create text file named <strong>location.txt</strong> and copy above settings into it</li>
			<li class="animated fadeInUp">Move location.txt onto SD Card with SUPLA</li>
		</ol>
	</div>
	<div class="half phone-instructions">
		<h2 class="animated fadeInUp">On Your phone...</h2>
		<ol>
			<li class="animated fadeInUp">Install SUPLA app from <a href="#">Apple App Store</a> or <a href="#">Google Play</a></li>
			<li class="animated fadeInUp">Open SUPLA app</li>
			<li class="animated fadeInUp">Tap <strong>+</strong> button</li>
			<li class="animated fadeInUp">Fill requested fields with settings listed above and tap <strong>Done</strong></li>
		</ol>
</div>
</div> 
{% endblock %}