<div class="row" v-schedule-chooser-daily>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{ 'Hour'|trans }}</label>
            <div class="clockpicker"></div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label>{{ 'Weekdays'|trans }}</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="1"> {{ 'Mondays'|trans }}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="2"> {{ 'Tuesdays'|trans }}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="3"> {{ 'Wednesdays'|trans }}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="4"> {{ 'Thursdays'|trans }}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="5"> {{ 'Fridays'|trans }}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="6"> {{ 'Saturdays'|trans }}
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="7"> {{ 'Sundays'|trans }}
                </label>
            </div>
        </div>
    </div>
</div>
